<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodtreintaiuno.imageuno %>" data-zoom-image="<%= prodtreintaiuno.imageuno %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodtreintaiuno.imagedos %>" data-zoom-image="<%= prodtreintaiuno.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaiuno.imagetres %>" data-zoom-image="<%= prodtreintaiuno.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaiuno.imagecuatro %>" data-zoom-image="<%= prodtreintaiuno.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaiuno.imagecinco %>" data-zoom-image="<%= prodtreintaiuno.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaiuno.imageseis %>" data-zoom-image="<%= prodtreintaiuno.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodtreintaiuno.imagesiete %>" data-zoom-image="<%= prodtreintaiuno.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodtreintaiuno.imageocho %>" data-zoom-image="<%= prodtreintaiuno.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodtreintaiuno.imagenueve %>" data-zoom-image="<%= prodtreintaiuno.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodtreintaiuno.imagediez %>" data-zoom-image="<%= prodtreintaiuno.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodtreintaiuno.imageonce %>" data-zoom-image="<%= prodtreintaiuno.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodtreintaiuno.imagedoce %>" data-zoom-image="<%= prodtreintaiuno.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodtreintaiuno.imageocho %>" data-zoom-image="<%= prodtreintaiuno.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodtreintaiuno.imagenueve %>" data-zoom-image="<%= prodtreintaiuno.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodtreintaiuno.imagediez %>" data-zoom-image="<%= prodtreintaiuno.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodtreintaiuno.imageonce %>" data-zoom-image="<%= prodtreintaiuno.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodtreintaiuno.imagedoce %>" data-zoom-image="<%= prodtreintaiuno.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodtreintaiuno.imagetrece %>" data-zoom-image="<%= prodtreintaiuno.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodtreintaiuno.imagecatorce %>" data-zoom-image="<%= prodtreintaiuno.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodtreintaiuno.imagequince %>" data-zoom-image="<%= prodtreintaiuno.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodtreintaiuno.imagedieciseis %>" data-zoom-image="<%= prodtreintaiuno.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodtreintaiuno.imagediecisiete %>" data-zoom-image="<%= prodtreintaiuno.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodtreintaiuno.imagedieciocho %>" data-zoom-image="<%= prodtreintaiuno.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodtreintaiuno.imagediecinueve %>" data-zoom-image="<%= prodtreintaiuno.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiuno.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintaiuno.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintaiuno.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintaiuno.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintaiuno.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiuno.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiuno.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaiuno.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaiuno.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaiuno.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiuno.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaiuno.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaiuno.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaiuno.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiuno.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaiuno.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaiuno.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaiuno.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiuno.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaiuno.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaiuno.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaiuno.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintaiuno.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiuno.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiuno.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintaiuno.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiuno.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiuno.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodtreintaiuno/tallecolor/<%= prodtreintaiuno._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodtreintaiuno.talleuno %>"><%= prodtreintaiuno.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodtreintaiuno.coloruno %>"><%= prodtreintaiuno.coloruno %></option>
                                  <option value="<%= prodtreintaiuno.colordos %>"><%= prodtreintaiuno.colordos %></option>
                                  <option value="<%= prodtreintaiuno.colortres %>"><%= prodtreintaiuno.colortres %></option>
                                  <option value="<%= prodtreintaiuno.colorcuatro %>"><%= prodtreintaiuno.colorcuatro %></option>
                                  <option value="<%= prodtreintaiuno.colorcinco %>"><%= prodtreintaiuno.colorcinco %></option>
                                  <option value="<%= prodtreintaiuno.colorseis %>"><%= prodtreintaiuno.colorseis %></option>
                                  <option value="<%= prodtreintaiuno.colorsiete %>"><%= prodtreintaiuno.colorsiete %></option>
                                  <option value="<%= prodtreintaiuno.colorocho %>"><%= prodtreintaiuno.colorocho %></option>
                                  <option value="<%= prodtreintaiuno.colornueve %>"><%= prodtreintaiuno.colornueve %></option>
                                  <option value="<%= prodtreintaiuno.colordiez %>"><%= prodtreintaiuno.colordiez %></option>
                                  <option value="<%= prodtreintaiuno.coloronce %>"><%= prodtreintaiuno.coloronce %></option>
                                  <option value="<%= prodtreintaiuno.colordoce %>"><%= prodtreintaiuno.colordoce %></option>
                                  <option value="<%= prodtreintaiuno.colortrece %>"><%= prodtreintaiuno.colortrece %></option>
                                  <option value="<%= prodtreintaiuno.colorcatorce %>"><%= prodtreintaiuno.colorcatorce %></option>
                                  <option value="<%= prodtreintaiuno.colorquince %>"><%= prodtreintaiuno.colorquince %></option>
                                  <option value="<%= prodtreintaiuno.colordieciseis %>"><%= prodtreintaiuno.colordieciseis %></option>
                                  <option value="<%= prodtreintaiuno.colordiecisiete %>"><%= prodtreintaiuno.colordiecisiete %></option>
                                  <option value="<%= prodtreintaiuno.colordieciocho %>"><%= prodtreintaiuno.colordieciocho %></option>
                                  <option value="<%= prodtreintaiuno.colordiecinueve %>"><%= prodtreintaiuno.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      