<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodveintiocho.imageuno %>" data-zoom-image="<%= prodveintiocho.imageuno %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodveintiocho.imagedos %>" data-zoom-image="<%= prodveintiocho.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodveintiocho.imagetres %>" data-zoom-image="<%= prodveintiocho.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodveintiocho.imagecuatro %>" data-zoom-image="<%= prodveintiocho.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodveintiocho.imagecinco %>" data-zoom-image="<%= prodveintiocho.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodveintiocho.imageseis %>" data-zoom-image="<%= prodveintiocho.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodveintiocho.imagesiete %>" data-zoom-image="<%= prodveintiocho.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodveintiocho.imageocho %>" data-zoom-image="<%= prodveintiocho.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodveintiocho.imagenueve %>" data-zoom-image="<%= prodveintiocho.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodveintiocho.imagediez %>" data-zoom-image="<%= prodveintiocho.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodveintiocho.imageonce %>" data-zoom-image="<%= prodveintiocho.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodveintiocho.imagedoce %>" data-zoom-image="<%= prodveintiocho.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodveintiocho.imageocho %>" data-zoom-image="<%= prodveintiocho.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodveintiocho.imagenueve %>" data-zoom-image="<%= prodveintiocho.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodveintiocho.imagediez %>" data-zoom-image="<%= prodveintiocho.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodveintiocho.imageonce %>" data-zoom-image="<%= prodveintiocho.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodveintiocho.imagedoce %>" data-zoom-image="<%= prodveintiocho.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodveintiocho.imagetrece %>" data-zoom-image="<%= prodveintiocho.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodveintiocho.imagecatorce %>" data-zoom-image="<%= prodveintiocho.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodveintiocho.imagequince %>" data-zoom-image="<%= prodveintiocho.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodveintiocho.imagedieciseis %>" data-zoom-image="<%= prodveintiocho.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodveintiocho.imagediecisiete %>" data-zoom-image="<%= prodveintiocho.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodveintiocho.imagedieciocho %>" data-zoom-image="<%= prodveintiocho.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodveintiocho.imagediecinueve %>" data-zoom-image="<%= prodveintiocho.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiocho.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodveintiocho.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodveintiocho.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodveintiocho.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodveintiocho.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiocho.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiocho.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveintiocho.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintiocho.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintiocho.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiocho.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveintiocho.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintiocho.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintiocho.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiocho.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveintiocho.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintiocho.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintiocho.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiocho.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveintiocho.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintiocho.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintiocho.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodveintiocho.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiocho.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiocho.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodveintiocho.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiocho.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiocho.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodveintiocho/tallecolor/<%= prodveintiocho._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodveintiocho.talleuno %>"><%= prodveintiocho.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodveintiocho.coloruno %>"><%= prodveintiocho.coloruno %></option>
                                  <option value="<%= prodveintiocho.colordos %>"><%= prodveintiocho.colordos %></option>
                                  <option value="<%= prodveintiocho.colortres %>"><%= prodveintiocho.colortres %></option>
                                  <option value="<%= prodveintiocho.colorcuatro %>"><%= prodveintiocho.colorcuatro %></option>
                                  <option value="<%= prodveintiocho.colorcinco %>"><%= prodveintiocho.colorcinco %></option>
                                  <option value="<%= prodveintiocho.colorseis %>"><%= prodveintiocho.colorseis %></option>
                                  <option value="<%= prodveintiocho.colorsiete %>"><%= prodveintiocho.colorsiete %></option>
                                  <option value="<%= prodveintiocho.colorocho %>"><%= prodveintiocho.colorocho %></option>
                                  <option value="<%= prodveintiocho.colornueve %>"><%= prodveintiocho.colornueve %></option>
                                  <option value="<%= prodveintiocho.colordiez %>"><%= prodveintiocho.colordiez %></option>
                                  <option value="<%= prodveintiocho.coloronce %>"><%= prodveintiocho.coloronce %></option>
                                  <option value="<%= prodveintiocho.colordoce %>"><%= prodveintiocho.colordoce %></option>
                                  <option value="<%= prodveintiocho.colortrece %>"><%= prodveintiocho.colortrece %></option>
                                  <option value="<%= prodveintiocho.colorcatorce %>"><%= prodveintiocho.colorcatorce %></option>
                                  <option value="<%= prodveintiocho.colorquince %>"><%= prodveintiocho.colorquince %></option>
                                  <option value="<%= prodveintiocho.colordieciseis %>"><%= prodveintiocho.colordieciseis %></option>
                                  <option value="<%= prodveintiocho.colordiecisiete %>"><%= prodveintiocho.colordiecisiete %></option>
                                  <option value="<%= prodveintiocho.colordieciocho %>"><%= prodveintiocho.colordieciocho %></option>
                                  <option value="<%= prodveintiocho.colordiecinueve %>"><%= prodveintiocho.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      