<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.image %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodveinticuatro.image %>" data-zoom-image="<%= prodveinticuatro.image %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.image %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodveinticuatro.imagedos %>" data-zoom-image="<%= prodveinticuatro.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodveinticuatro.imagetres %>" data-zoom-image="<%= prodveinticuatro.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodveinticuatro.imagecuatro %>" data-zoom-image="<%= prodveinticuatro.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodveinticuatro.imagecinco %>" data-zoom-image="<%= prodveinticuatro.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodveinticuatro.imageseis %>" data-zoom-image="<%= prodveinticuatro.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodveinticuatro.imagesiete %>" data-zoom-image="<%= prodveinticuatro.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodveinticuatro.imageocho %>" data-zoom-image="<%= prodveinticuatro.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodveinticuatro.imagenueve %>" data-zoom-image="<%= prodveinticuatro.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodveinticuatro.imagediez %>" data-zoom-image="<%= prodveinticuatro.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodveinticuatro.imageonce %>" data-zoom-image="<%= prodveinticuatro.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodveinticuatro.imagedoce %>" data-zoom-image="<%= prodveinticuatro.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodveinticuatro.imageocho %>" data-zoom-image="<%= prodveinticuatro.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodveinticuatro.imagenueve %>" data-zoom-image="<%= prodveinticuatro.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodveinticuatro.imagediez %>" data-zoom-image="<%= prodveinticuatro.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodveinticuatro.imageonce %>" data-zoom-image="<%= prodveinticuatro.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodveinticuatro.imagedoce %>" data-zoom-image="<%= prodveinticuatro.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodveinticuatro.imagetrece %>" data-zoom-image="<%= prodveinticuatro.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodveinticuatro.imagecatorce %>" data-zoom-image="<%= prodveinticuatro.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodveinticuatro.imagequince %>" data-zoom-image="<%= prodveinticuatro.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodveinticuatro.imagedieciseis %>" data-zoom-image="<%= prodveinticuatro.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodveinticuatro.imagediecisiete %>" data-zoom-image="<%= prodveinticuatro.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodveinticuatro.imagedieciocho %>" data-zoom-image="<%= prodveinticuatro.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodveinticuatro.imagediecinueve %>" data-zoom-image="<%= prodveinticuatro.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticuatro.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodveinticuatro.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodveinticuatro.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodveinticuatro.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodveinticuatro.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveinticuatro.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveinticuatro.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveinticuatro.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveinticuatro.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveinticuatro.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveinticuatro.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveinticuatro.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveinticuatro.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveinticuatro.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveinticuatro.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveinticuatro.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveinticuatro.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveinticuatro.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveinticuatro.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveinticuatro.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveinticuatro.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveinticuatro.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodveinticuatro.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveinticuatro.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveinticuatro.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodveinticuatro.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveinticuatro.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveinticuatro.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodveinticuatro/tallecolor/<%= prodveinticuatro._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodveinticuatro.talleuno %>"><%= prodveinticuatro.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodveinticuatro.coloruno %>"><%= prodveinticuatro.coloruno %></option>
                                  <option value="<%= prodveinticuatro.colordos %>"><%= prodveinticuatro.colordos %></option>
                                  <option value="<%= prodveinticuatro.colortres %>"><%= prodveinticuatro.colortres %></option>
                                  <option value="<%= prodveinticuatro.colorcuatro %>"><%= prodveinticuatro.colorcuatro %></option>
                                  <option value="<%= prodveinticuatro.colorcinco %>"><%= prodveinticuatro.colorcinco %></option>
                                  <option value="<%= prodveinticuatro.colorseis %>"><%= prodveinticuatro.colorseis %></option>
                                  <option value="<%= prodveinticuatro.colorsiete %>"><%= prodveinticuatro.colorsiete %></option>
                                  <option value="<%= prodveinticuatro.colorocho %>"><%= prodveinticuatro.colorocho %></option>
                                  <option value="<%= prodveinticuatro.colornueve %>"><%= prodveinticuatro.colornueve %></option>
                                  <option value="<%= prodveinticuatro.colordiez %>"><%= prodveinticuatro.colordiez %></option>
                                  <option value="<%= prodveinticuatro.coloronce %>"><%= prodveinticuatro.coloronce %></option>
                                  <option value="<%= prodveinticuatro.colordoce %>"><%= prodveinticuatro.colordoce %></option>
                                  <option value="<%= prodveinticuatro.colortrece %>"><%= prodveinticuatro.colortrece %></option>
                                  <option value="<%= prodveinticuatro.colorcatorce %>"><%= prodveinticuatro.colorcatorce %></option>
                                  <option value="<%= prodveinticuatro.colorquince %>"><%= prodveinticuatro.colorquince %></option>
                                  <option value="<%= prodveinticuatro.colordieciseis %>"><%= prodveinticuatro.colordieciseis %></option>
                                  <option value="<%= prodveinticuatro.colordiecisiete %>"><%= prodveinticuatro.colordiecisiete %></option>
                                  <option value="<%= prodveinticuatro.colordieciocho %>"><%= prodveinticuatro.colordieciocho %></option>
                                  <option value="<%= prodveinticuatro.colordiecinueve %>"><%= prodveinticuatro.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      