<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.image %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodtreintaisiete.image %>" data-zoom-image="<%= prodtreintaisiete.image %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.image %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodtreintaisiete.imagedos %>" data-zoom-image="<%= prodtreintaisiete.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaisiete.imagetres %>" data-zoom-image="<%= prodtreintaisiete.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaisiete.imagecuatro %>" data-zoom-image="<%= prodtreintaisiete.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaisiete.imagecinco %>" data-zoom-image="<%= prodtreintaisiete.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaisiete.imageseis %>" data-zoom-image="<%= prodtreintaisiete.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodtreintaisiete.imagesiete %>" data-zoom-image="<%= prodtreintaisiete.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodtreintaisiete.imageocho %>" data-zoom-image="<%= prodtreintaisiete.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodtreintaisiete.imagenueve %>" data-zoom-image="<%= prodtreintaisiete.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodtreintaisiete.imagediez %>" data-zoom-image="<%= prodtreintaisiete.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodtreintaisiete.imageonce %>" data-zoom-image="<%= prodtreintaisiete.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodtreintaisiete.imagedoce %>" data-zoom-image="<%= prodtreintaisiete.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodtreintaisiete.imageocho %>" data-zoom-image="<%= prodtreintaisiete.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodtreintaisiete.imagenueve %>" data-zoom-image="<%= prodtreintaisiete.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodtreintaisiete.imagediez %>" data-zoom-image="<%= prodtreintaisiete.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodtreintaisiete.imageonce %>" data-zoom-image="<%= prodtreintaisiete.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodtreintaisiete.imagedoce %>" data-zoom-image="<%= prodtreintaisiete.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodtreintaisiete.imagetrece %>" data-zoom-image="<%= prodtreintaisiete.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodtreintaisiete.imagecatorce %>" data-zoom-image="<%= prodtreintaisiete.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodtreintaisiete.imagequince %>" data-zoom-image="<%= prodtreintaisiete.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodtreintaisiete.imagedieciseis %>" data-zoom-image="<%= prodtreintaisiete.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodtreintaisiete.imagediecisiete %>" data-zoom-image="<%= prodtreintaisiete.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodtreintaisiete.imagedieciocho %>" data-zoom-image="<%= prodtreintaisiete.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodtreintaisiete.imagediecinueve %>" data-zoom-image="<%= prodtreintaisiete.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaisiete.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintaisiete.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintaisiete.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintaisiete.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintaisiete.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaisiete.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaisiete.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaisiete.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaisiete.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaisiete.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaisiete.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaisiete.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaisiete.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaisiete.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaisiete.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaisiete.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaisiete.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaisiete.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaisiete.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaisiete.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaisiete.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaisiete.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintaisiete.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaisiete.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaisiete.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintaisiete.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaisiete.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaisiete.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodtreintaisiete/tallecolor/<%= prodtreintaisiete._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodtreintaisiete.talleuno %>"><%= prodtreintaisiete.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodtreintaisiete.coloruno %>"><%= prodtreintaisiete.coloruno %></option>
                                  <option value="<%= prodtreintaisiete.colordos %>"><%= prodtreintaisiete.colordos %></option>
                                  <option value="<%= prodtreintaisiete.colortres %>"><%= prodtreintaisiete.colortres %></option>
                                  <option value="<%= prodtreintaisiete.colorcuatro %>"><%= prodtreintaisiete.colorcuatro %></option>
                                  <option value="<%= prodtreintaisiete.colorcinco %>"><%= prodtreintaisiete.colorcinco %></option>
                                  <option value="<%= prodtreintaisiete.colorseis %>"><%= prodtreintaisiete.colorseis %></option>
                                  <option value="<%= prodtreintaisiete.colorsiete %>"><%= prodtreintaisiete.colorsiete %></option>
                                  <option value="<%= prodtreintaisiete.colorocho %>"><%= prodtreintaisiete.colorocho %></option>
                                  <option value="<%= prodtreintaisiete.colornueve %>"><%= prodtreintaisiete.colornueve %></option>
                                  <option value="<%= prodtreintaisiete.colordiez %>"><%= prodtreintaisiete.colordiez %></option>
                                  <option value="<%= prodtreintaisiete.coloronce %>"><%= prodtreintaisiete.coloronce %></option>
                                  <option value="<%= prodtreintaisiete.colordoce %>"><%= prodtreintaisiete.colordoce %></option>
                                  <option value="<%= prodtreintaisiete.colortrece %>"><%= prodtreintaisiete.colortrece %></option>
                                  <option value="<%= prodtreintaisiete.colorcatorce %>"><%= prodtreintaisiete.colorcatorce %></option>
                                  <option value="<%= prodtreintaisiete.colorquince %>"><%= prodtreintaisiete.colorquince %></option>
                                  <option value="<%= prodtreintaisiete.colordieciseis %>"><%= prodtreintaisiete.colordieciseis %></option>
                                  <option value="<%= prodtreintaisiete.colordiecisiete %>"><%= prodtreintaisiete.colordiecisiete %></option>
                                  <option value="<%= prodtreintaisiete.colordieciocho %>"><%= prodtreintaisiete.colordieciocho %></option>
                                  <option value="<%= prodtreintaisiete.colordiecinueve %>"><%= prodtreintaisiete.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      