<% include ../partials/_header %>
        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodonce.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodonce.imageuno %>" data-zoom-image="<%= prodonce.imageuno %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodonce.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodonce.imagedos %>" data-zoom-image="<%= prodonce.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodonce.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodonce.imagetres %>" data-zoom-image="<%= prodonce.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodonce.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodonce.imagecuatro %>" data-zoom-image="<%= prodonce.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodonce.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodonce.imagecinco %>" data-zoom-image="<%= prodonce.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodonce.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodonce.imageseis %>" data-zoom-image="<%= prodonce.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodonce.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodonce.imagesiete %>" data-zoom-image="<%= prodonce.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodonce.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodonce.imageocho %>" data-zoom-image="<%= prodonce.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodonce.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodonce.imagenueve %>" data-zoom-image="<%= prodonce.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodonce.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodonce.imagediez %>" data-zoom-image="<%= prodonce.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodonce.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodonce.imageonce %>" data-zoom-image="<%= prodonce.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodonce.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodonce.imagedoce %>" data-zoom-image="<%= prodonce.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodonce.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodonce.imageocho %>" data-zoom-image="<%= prodonce.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodonce.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodonce.imagenueve %>" data-zoom-image="<%= prodonce.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodonce.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodonce.imagediez %>" data-zoom-image="<%= prodonce.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodonce.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodonce.imageonce %>" data-zoom-image="<%= prodonce.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodonce.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodonce.imagedoce %>" data-zoom-image="<%= prodonce.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodonce.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodonce.imagetrece %>" data-zoom-image="<%= prodonce.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodonce.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodonce.imagecatorce %>" data-zoom-image="<%= prodonce.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodonce.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodonce.imagequince %>" data-zoom-image="<%= prodonce.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodonce.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodonce.imagedieciseis %>" data-zoom-image="<%= prodonce.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodonce.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodonce.imagediecisiete %>" data-zoom-image="<%= prodonce.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodonce.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodonce.imagedieciocho %>" data-zoom-image="<%= prodonce.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodonce.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodonce.imagediecinueve %>" data-zoom-image="<%= prodonce.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodonce.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodonce.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodonce.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodonce.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodonce.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodonce.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodonce.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodonce.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodonce.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodonce.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodonce.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodonce.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodonce.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodonce.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodonce.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodonce.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodonce.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodonce.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodonce.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodonce.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodonce.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodonce.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodonce.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodonce.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodonce.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodonce.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodonce.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodonce.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodonce/tallecolor/<%= prodonce._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodonce.talleuno %>"><%= prodonce.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodonce.coloruno %>"><%= prodonce.coloruno %></option>
                                  <option value="<%= prodonce.colordos %>"><%= prodonce.colordos %></option>
                                  <option value="<%= prodonce.colortres %>"><%= prodonce.colortres %></option>
                                  <option value="<%= prodonce.colorcuatro %>"><%= prodonce.colorcuatro %></option>
                                  <option value="<%= prodonce.colorcinco %>"><%= prodonce.colorcinco %></option>
                                  <option value="<%= prodonce.colorseis %>"><%= prodonce.colorseis %></option>
                                  <option value="<%= prodonce.colorsiete %>"><%= prodonce.colorsiete %></option>
                                  <option value="<%= prodonce.colorocho %>"><%= prodonce.colorocho %></option>
                                  <option value="<%= prodonce.colornueve %>"><%= prodonce.colornueve %></option>
                                  <option value="<%= prodonce.colordiez %>"><%= prodonce.colordiez %></option>
                                  <option value="<%= prodonce.coloronce %>"><%= prodonce.coloronce %></option>
                                  <option value="<%= prodonce.colordoce %>"><%= prodonce.colordoce %></option>
                                  <option value="<%= prodonce.colortrece %>"><%= prodonce.colortrece %></option>
                                  <option value="<%= prodonce.colorcatorce %>"><%= prodonce.colorcatorce %></option>
                                  <option value="<%= prodonce.colorquince %>"><%= prodonce.colorquince %></option>
                                  <option value="<%= prodonce.colordieciseis %>"><%= prodonce.colordieciseis %></option>
                                  <option value="<%= prodonce.colordiecisiete %>"><%= prodonce.colordiecisiete %></option>
                                  <option value="<%= prodonce.colordieciocho %>"><%= prodonce.colordieciocho %></option>
                                  <option value="<%= prodonce.colordiecinueve %>"><%= prodonce.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      