<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.image %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodtreintaiocho.image %>" data-zoom-image="<%= prodtreintaiocho.image %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.image %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodtreintaiocho.imagedos %>" data-zoom-image="<%= prodtreintaiocho.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaiocho.imagetres %>" data-zoom-image="<%= prodtreintaiocho.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaiocho.imagecuatro %>" data-zoom-image="<%= prodtreintaiocho.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaiocho.imagecinco %>" data-zoom-image="<%= prodtreintaiocho.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaiocho.imageseis %>" data-zoom-image="<%= prodtreintaiocho.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodtreintaiocho.imagesiete %>" data-zoom-image="<%= prodtreintaiocho.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodtreintaiocho.imageocho %>" data-zoom-image="<%= prodtreintaiocho.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodtreintaiocho.imagenueve %>" data-zoom-image="<%= prodtreintaiocho.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodtreintaiocho.imagediez %>" data-zoom-image="<%= prodtreintaiocho.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodtreintaiocho.imageonce %>" data-zoom-image="<%= prodtreintaiocho.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodtreintaiocho.imagedoce %>" data-zoom-image="<%= prodtreintaiocho.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodtreintaiocho.imageocho %>" data-zoom-image="<%= prodtreintaiocho.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodtreintaiocho.imagenueve %>" data-zoom-image="<%= prodtreintaiocho.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodtreintaiocho.imagediez %>" data-zoom-image="<%= prodtreintaiocho.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodtreintaiocho.imageonce %>" data-zoom-image="<%= prodtreintaiocho.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodtreintaiocho.imagedoce %>" data-zoom-image="<%= prodtreintaiocho.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodtreintaiocho.imagetrece %>" data-zoom-image="<%= prodtreintaiocho.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodtreintaiocho.imagecatorce %>" data-zoom-image="<%= prodtreintaiocho.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodtreintaiocho.imagequince %>" data-zoom-image="<%= prodtreintaiocho.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodtreintaiocho.imagedieciseis %>" data-zoom-image="<%= prodtreintaiocho.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodtreintaiocho.imagediecisiete %>" data-zoom-image="<%= prodtreintaiocho.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodtreintaiocho.imagedieciocho %>" data-zoom-image="<%= prodtreintaiocho.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodtreintaiocho.imagediecinueve %>" data-zoom-image="<%= prodtreintaiocho.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiocho.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintaiocho.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintaiocho.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintaiocho.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintaiocho.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiocho.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiocho.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaiocho.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaiocho.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaiocho.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiocho.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaiocho.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaiocho.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaiocho.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiocho.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaiocho.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaiocho.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaiocho.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiocho.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaiocho.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaiocho.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaiocho.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintaiocho.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiocho.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiocho.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintaiocho.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiocho.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiocho.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodtreintaiocho/tallecolor/<%= prodtreintaiocho._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodtreintaiocho.talleuno %>"><%= prodtreintaiocho.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodtreintaiocho.coloruno %>"><%= prodtreintaiocho.coloruno %></option>
                                  <option value="<%= prodtreintaiocho.colordos %>"><%= prodtreintaiocho.colordos %></option>
                                  <option value="<%= prodtreintaiocho.colortres %>"><%= prodtreintaiocho.colortres %></option>
                                  <option value="<%= prodtreintaiocho.colorcuatro %>"><%= prodtreintaiocho.colorcuatro %></option>
                                  <option value="<%= prodtreintaiocho.colorcinco %>"><%= prodtreintaiocho.colorcinco %></option>
                                  <option value="<%= prodtreintaiocho.colorseis %>"><%= prodtreintaiocho.colorseis %></option>
                                  <option value="<%= prodtreintaiocho.colorsiete %>"><%= prodtreintaiocho.colorsiete %></option>
                                  <option value="<%= prodtreintaiocho.colorocho %>"><%= prodtreintaiocho.colorocho %></option>
                                  <option value="<%= prodtreintaiocho.colornueve %>"><%= prodtreintaiocho.colornueve %></option>
                                  <option value="<%= prodtreintaiocho.colordiez %>"><%= prodtreintaiocho.colordiez %></option>
                                  <option value="<%= prodtreintaiocho.coloronce %>"><%= prodtreintaiocho.coloronce %></option>
                                  <option value="<%= prodtreintaiocho.colordoce %>"><%= prodtreintaiocho.colordoce %></option>
                                  <option value="<%= prodtreintaiocho.colortrece %>"><%= prodtreintaiocho.colortrece %></option>
                                  <option value="<%= prodtreintaiocho.colorcatorce %>"><%= prodtreintaiocho.colorcatorce %></option>
                                  <option value="<%= prodtreintaiocho.colorquince %>"><%= prodtreintaiocho.colorquince %></option>
                                  <option value="<%= prodtreintaiocho.colordieciseis %>"><%= prodtreintaiocho.colordieciseis %></option>
                                  <option value="<%= prodtreintaiocho.colordiecisiete %>"><%= prodtreintaiocho.colordiecisiete %></option>
                                  <option value="<%= prodtreintaiocho.colordieciocho %>"><%= prodtreintaiocho.colordieciocho %></option>
                                  <option value="<%= prodtreintaiocho.colordiecinueve %>"><%= prodtreintaiocho.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      