<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodcuarenticinco.imageuno %>" data-zoom-image="<%= prodcuarenticinco.imageuno %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodcuarenticinco.imagedos %>" data-zoom-image="<%= prodcuarenticinco.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuarenticinco.imagetres %>" data-zoom-image="<%= prodcuarenticinco.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuarenticinco.imagecuatro %>" data-zoom-image="<%= prodcuarenticinco.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuarenticinco.imagecinco %>" data-zoom-image="<%= prodcuarenticinco.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuarenticinco.imageseis %>" data-zoom-image="<%= prodcuarenticinco.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodcuarenticinco.imagesiete %>" data-zoom-image="<%= prodcuarenticinco.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodcuarenticinco.imageocho %>" data-zoom-image="<%= prodcuarenticinco.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodcuarenticinco.imagenueve %>" data-zoom-image="<%= prodcuarenticinco.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodcuarenticinco.imagediez %>" data-zoom-image="<%= prodcuarenticinco.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodcuarenticinco.imageonce %>" data-zoom-image="<%= prodcuarenticinco.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodcuarenticinco.imagedoce %>" data-zoom-image="<%= prodcuarenticinco.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodcuarenticinco.imageocho %>" data-zoom-image="<%= prodcuarenticinco.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodcuarenticinco.imagenueve %>" data-zoom-image="<%= prodcuarenticinco.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodcuarenticinco.imagediez %>" data-zoom-image="<%= prodcuarenticinco.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodcuarenticinco.imageonce %>" data-zoom-image="<%= prodcuarenticinco.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodcuarenticinco.imagedoce %>" data-zoom-image="<%= prodcuarenticinco.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodcuarenticinco.imagetrece %>" data-zoom-image="<%= prodcuarenticinco.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodcuarenticinco.imagecatorce %>" data-zoom-image="<%= prodcuarenticinco.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodcuarenticinco.imagequince %>" data-zoom-image="<%= prodcuarenticinco.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodcuarenticinco.imagedieciseis %>" data-zoom-image="<%= prodcuarenticinco.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodcuarenticinco.imagediecisiete %>" data-zoom-image="<%= prodcuarenticinco.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodcuarenticinco.imagedieciocho %>" data-zoom-image="<%= prodcuarenticinco.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodcuarenticinco.imagediecinueve %>" data-zoom-image="<%= prodcuarenticinco.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticinco.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcuarenticinco.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcuarenticinco.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcuarenticinco.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcuarenticinco.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarenticinco.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarenticinco.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuarenticinco.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarenticinco.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarenticinco.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarenticinco.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuarenticinco.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarenticinco.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarenticinco.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarenticinco.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuarenticinco.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarenticinco.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarenticinco.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarenticinco.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuarenticinco.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarenticinco.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarenticinco.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcuarenticinco.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarenticinco.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarenticinco.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcuarenticinco.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarenticinco.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarenticinco.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodcuarenticinco/tallecolor/<%= prodcuarenticinco._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodcuarenticinco.talleuno %>"><%= prodcuarenticinco.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodcuarenticinco.coloruno %>"><%= prodcuarenticinco.coloruno %></option>
                                  <option value="<%= prodcuarenticinco.colordos %>"><%= prodcuarenticinco.colordos %></option>
                                  <option value="<%= prodcuarenticinco.colortres %>"><%= prodcuarenticinco.colortres %></option>
                                  <option value="<%= prodcuarenticinco.colorcuatro %>"><%= prodcuarenticinco.colorcuatro %></option>
                                  <option value="<%= prodcuarenticinco.colorcinco %>"><%= prodcuarenticinco.colorcinco %></option>
                                  <option value="<%= prodcuarenticinco.colorseis %>"><%= prodcuarenticinco.colorseis %></option>
                                  <option value="<%= prodcuarenticinco.colorsiete %>"><%= prodcuarenticinco.colorsiete %></option>
                                  <option value="<%= prodcuarenticinco.colorocho %>"><%= prodcuarenticinco.colorocho %></option>
                                  <option value="<%= prodcuarenticinco.colornueve %>"><%= prodcuarenticinco.colornueve %></option>
                                  <option value="<%= prodcuarenticinco.colordiez %>"><%= prodcuarenticinco.colordiez %></option>
                                  <option value="<%= prodcuarenticinco.coloronce %>"><%= prodcuarenticinco.coloronce %></option>
                                  <option value="<%= prodcuarenticinco.colordoce %>"><%= prodcuarenticinco.colordoce %></option>
                                  <option value="<%= prodcuarenticinco.colortrece %>"><%= prodcuarenticinco.colortrece %></option>
                                  <option value="<%= prodcuarenticinco.colorcatorce %>"><%= prodcuarenticinco.colorcatorce %></option>
                                  <option value="<%= prodcuarenticinco.colorquince %>"><%= prodcuarenticinco.colorquince %></option>
                                  <option value="<%= prodcuarenticinco.colordieciseis %>"><%= prodcuarenticinco.colordieciseis %></option>
                                  <option value="<%= prodcuarenticinco.colordiecisiete %>"><%= prodcuarenticinco.colordiecisiete %></option>
                                  <option value="<%= prodcuarenticinco.colordieciocho %>"><%= prodcuarenticinco.colordieciocho %></option>
                                  <option value="<%= prodcuarenticinco.colordiecinueve %>"><%= prodcuarenticinco.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      