<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodcuarentiuno.imageuno %>" data-zoom-image="<%= prodcuarentiuno.imageuno %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodcuarentiuno.imagedos %>" data-zoom-image="<%= prodcuarentiuno.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuarentiuno.imagetres %>" data-zoom-image="<%= prodcuarentiuno.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuarentiuno.imagecuatro %>" data-zoom-image="<%= prodcuarentiuno.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuarentiuno.imagecinco %>" data-zoom-image="<%= prodcuarentiuno.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuarentiuno.imageseis %>" data-zoom-image="<%= prodcuarentiuno.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodcuarentiuno.imagesiete %>" data-zoom-image="<%= prodcuarentiuno.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodcuarentiuno.imageocho %>" data-zoom-image="<%= prodcuarentiuno.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodcuarentiuno.imagenueve %>" data-zoom-image="<%= prodcuarentiuno.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodcuarentiuno.imagediez %>" data-zoom-image="<%= prodcuarentiuno.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodcuarentiuno.imageonce %>" data-zoom-image="<%= prodcuarentiuno.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodcuarentiuno.imagedoce %>" data-zoom-image="<%= prodcuarentiuno.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodcuarentiuno.imageocho %>" data-zoom-image="<%= prodcuarentiuno.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodcuarentiuno.imagenueve %>" data-zoom-image="<%= prodcuarentiuno.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodcuarentiuno.imagediez %>" data-zoom-image="<%= prodcuarentiuno.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodcuarentiuno.imageonce %>" data-zoom-image="<%= prodcuarentiuno.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodcuarentiuno.imagedoce %>" data-zoom-image="<%= prodcuarentiuno.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodcuarentiuno.imagetrece %>" data-zoom-image="<%= prodcuarentiuno.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodcuarentiuno.imagecatorce %>" data-zoom-image="<%= prodcuarentiuno.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodcuarentiuno.imagequince %>" data-zoom-image="<%= prodcuarentiuno.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodcuarentiuno.imagedieciseis %>" data-zoom-image="<%= prodcuarentiuno.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodcuarentiuno.imagediecisiete %>" data-zoom-image="<%= prodcuarentiuno.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodcuarentiuno.imagedieciocho %>" data-zoom-image="<%= prodcuarentiuno.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodcuarentiuno.imagediecinueve %>" data-zoom-image="<%= prodcuarentiuno.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiuno.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcuarentiuno.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcuarentiuno.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcuarentiuno.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcuarentiuno.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentiuno.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentiuno.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuarentiuno.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentiuno.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentiuno.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentiuno.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuarentiuno.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentiuno.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentiuno.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentiuno.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuarentiuno.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentiuno.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentiuno.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentiuno.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuarentiuno.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentiuno.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentiuno.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcuarentiuno.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentiuno.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentiuno.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcuarentiuno.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentiuno.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentiuno.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodcuarentiuno/tallecolor/<%= prodcuarentiuno._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodcuarentiuno.talleuno %>"><%= prodcuarentiuno.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodcuarentiuno.coloruno %>"><%= prodcuarentiuno.coloruno %></option>
                                  <option value="<%= prodcuarentiuno.colordos %>"><%= prodcuarentiuno.colordos %></option>
                                  <option value="<%= prodcuarentiuno.colortres %>"><%= prodcuarentiuno.colortres %></option>
                                  <option value="<%= prodcuarentiuno.colorcuatro %>"><%= prodcuarentiuno.colorcuatro %></option>
                                  <option value="<%= prodcuarentiuno.colorcinco %>"><%= prodcuarentiuno.colorcinco %></option>
                                  <option value="<%= prodcuarentiuno.colorseis %>"><%= prodcuarentiuno.colorseis %></option>
                                  <option value="<%= prodcuarentiuno.colorsiete %>"><%= prodcuarentiuno.colorsiete %></option>
                                  <option value="<%= prodcuarentiuno.colorocho %>"><%= prodcuarentiuno.colorocho %></option>
                                  <option value="<%= prodcuarentiuno.colornueve %>"><%= prodcuarentiuno.colornueve %></option>
                                  <option value="<%= prodcuarentiuno.colordiez %>"><%= prodcuarentiuno.colordiez %></option>
                                  <option value="<%= prodcuarentiuno.coloronce %>"><%= prodcuarentiuno.coloronce %></option>
                                  <option value="<%= prodcuarentiuno.colordoce %>"><%= prodcuarentiuno.colordoce %></option>
                                  <option value="<%= prodcuarentiuno.colortrece %>"><%= prodcuarentiuno.colortrece %></option>
                                  <option value="<%= prodcuarentiuno.colorcatorce %>"><%= prodcuarentiuno.colorcatorce %></option>
                                  <option value="<%= prodcuarentiuno.colorquince %>"><%= prodcuarentiuno.colorquince %></option>
                                  <option value="<%= prodcuarentiuno.colordieciseis %>"><%= prodcuarentiuno.colordieciseis %></option>
                                  <option value="<%= prodcuarentiuno.colordiecisiete %>"><%= prodcuarentiuno.colordiecisiete %></option>
                                  <option value="<%= prodcuarentiuno.colordieciocho %>"><%= prodcuarentiuno.colordieciocho %></option>
                                  <option value="<%= prodcuarentiuno.colordiecinueve %>"><%= prodcuarentiuno.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      