<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodcincuentitres.imageuno %>" data-zoom-image="<%= prodcincuentitres.imageuno %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodcincuentitres.imagedos %>" data-zoom-image="<%= prodcincuentitres.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodcincuentitres.imagetres %>" data-zoom-image="<%= prodcincuentitres.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodcincuentitres.imagecuatro %>" data-zoom-image="<%= prodcincuentitres.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodcincuentitres.imagecinco %>" data-zoom-image="<%= prodcincuentitres.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodcincuentitres.imageseis %>" data-zoom-image="<%= prodcincuentitres.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodcincuentitres.imagesiete %>" data-zoom-image="<%= prodcincuentitres.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodcincuentitres.imageocho %>" data-zoom-image="<%= prodcincuentitres.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodcincuentitres.imagenueve %>" data-zoom-image="<%= prodcincuentitres.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodcincuentitres.imagediez %>" data-zoom-image="<%= prodcincuentitres.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodcincuentitres.imageonce %>" data-zoom-image="<%= prodcincuentitres.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodcincuentitres.imagedoce %>" data-zoom-image="<%= prodcincuentitres.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodcincuentitres.imageocho %>" data-zoom-image="<%= prodcincuentitres.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodcincuentitres.imagenueve %>" data-zoom-image="<%= prodcincuentitres.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodcincuentitres.imagediez %>" data-zoom-image="<%= prodcincuentitres.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodcincuentitres.imageonce %>" data-zoom-image="<%= prodcincuentitres.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodcincuentitres.imagedoce %>" data-zoom-image="<%= prodcincuentitres.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodcincuentitres.imagetrece %>" data-zoom-image="<%= prodcincuentitres.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodcincuentitres.imagecatorce %>" data-zoom-image="<%= prodcincuentitres.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodcincuentitres.imagequince %>" data-zoom-image="<%= prodcincuentitres.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodcincuentitres.imagedieciseis %>" data-zoom-image="<%= prodcincuentitres.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodcincuentitres.imagediecisiete %>" data-zoom-image="<%= prodcincuentitres.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodcincuentitres.imagedieciocho %>" data-zoom-image="<%= prodcincuentitres.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodcincuentitres.imagediecinueve %>" data-zoom-image="<%= prodcincuentitres.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuentitres.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcincuentitres.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcincuentitres.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcincuentitres.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcincuentitres.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuentitres.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuentitres.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcincuentitres.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuentitres.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuentitres.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuentitres.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcincuentitres.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuentitres.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuentitres.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuentitres.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcincuentitres.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuentitres.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuentitres.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuentitres.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcincuentitres.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuentitres.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuentitres.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcincuentitres.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuentitres.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuentitres.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcincuentitres.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuentitres.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuentitres.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodcincuentitres/tallecolor/<%= prodcincuentitres._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodcincuentitres.talleuno %>"><%= prodcincuentitres.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodcincuentitres.coloruno %>"><%= prodcincuentitres.coloruno %></option>
                                  <option value="<%= prodcincuentitres.colordos %>"><%= prodcincuentitres.colordos %></option>
                                  <option value="<%= prodcincuentitres.colortres %>"><%= prodcincuentitres.colortres %></option>
                                  <option value="<%= prodcincuentitres.colorcuatro %>"><%= prodcincuentitres.colorcuatro %></option>
                                  <option value="<%= prodcincuentitres.colorcinco %>"><%= prodcincuentitres.colorcinco %></option>
                                  <option value="<%= prodcincuentitres.colorseis %>"><%= prodcincuentitres.colorseis %></option>
                                  <option value="<%= prodcincuentitres.colorsiete %>"><%= prodcincuentitres.colorsiete %></option>
                                  <option value="<%= prodcincuentitres.colorocho %>"><%= prodcincuentitres.colorocho %></option>
                                  <option value="<%= prodcincuentitres.colornueve %>"><%= prodcincuentitres.colornueve %></option>
                                  <option value="<%= prodcincuentitres.colordiez %>"><%= prodcincuentitres.colordiez %></option>
                                  <option value="<%= prodcincuentitres.coloronce %>"><%= prodcincuentitres.coloronce %></option>
                                  <option value="<%= prodcincuentitres.colordoce %>"><%= prodcincuentitres.colordoce %></option>
                                  <option value="<%= prodcincuentitres.colortrece %>"><%= prodcincuentitres.colortrece %></option>
                                  <option value="<%= prodcincuentitres.colorcatorce %>"><%= prodcincuentitres.colorcatorce %></option>
                                  <option value="<%= prodcincuentitres.colorquince %>"><%= prodcincuentitres.colorquince %></option>
                                  <option value="<%= prodcincuentitres.colordieciseis %>"><%= prodcincuentitres.colordieciseis %></option>
                                  <option value="<%= prodcincuentitres.colordiecisiete %>"><%= prodcincuentitres.colordiecisiete %></option>
                                  <option value="<%= prodcincuentitres.colordieciocho %>"><%= prodcincuentitres.colordieciocho %></option>
                                  <option value="<%= prodcincuentitres.colordiecinueve %>"><%= prodcincuentitres.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      