<% include ../partials/_header %>
        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= proddieciseis.imageuno %>" data-zoom-image="<%= proddieciseis.imageuno %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= proddieciseis.imagedos %>" data-zoom-image="<%= proddieciseis.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= proddieciseis.imagetres %>" data-zoom-image="<%= proddieciseis.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= proddieciseis.imagecuatro %>" data-zoom-image="<%= proddieciseis.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= proddieciseis.imagecinco %>" data-zoom-image="<%= proddieciseis.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= proddieciseis.imageseis %>" data-zoom-image="<%= proddieciseis.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= proddieciseis.imagesiete %>" data-zoom-image="<%= proddieciseis.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= proddieciseis.imageocho %>" data-zoom-image="<%= proddieciseis.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= proddieciseis.imagenueve %>" data-zoom-image="<%= proddieciseis.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= proddieciseis.imagediez %>" data-zoom-image="<%= proddieciseis.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= proddieciseis.imageonce %>" data-zoom-image="<%= proddieciseis.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= proddieciseis.imagedoce %>" data-zoom-image="<%= proddieciseis.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= proddieciseis.imageocho %>" data-zoom-image="<%= proddieciseis.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= proddieciseis.imagenueve %>" data-zoom-image="<%= proddieciseis.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= proddieciseis.imagediez %>" data-zoom-image="<%= proddieciseis.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= proddieciseis.imageonce %>" data-zoom-image="<%= proddieciseis.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= proddieciseis.imagedoce %>" data-zoom-image="<%= proddieciseis.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= proddieciseis.imagetrece %>" data-zoom-image="<%= proddieciseis.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= proddieciseis.imagecatorce %>" data-zoom-image="<%= proddieciseis.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= proddieciseis.imagequince %>" data-zoom-image="<%= proddieciseis.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= proddieciseis.imagedieciseis %>" data-zoom-image="<%= proddieciseis.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= proddieciseis.imagediecisiete %>" data-zoom-image="<%= proddieciseis.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= proddieciseis.imagedieciocho %>" data-zoom-image="<%= proddieciseis.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= proddieciseis.imagediecinueve %>" data-zoom-image="<%= proddieciseis.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddieciseis.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= proddieciseis.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= proddieciseis.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= proddieciseis.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= proddieciseis.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= proddieciseis.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= proddieciseis.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= proddieciseis.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= proddieciseis.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= proddieciseis.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= proddieciseis.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= proddieciseis.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= proddieciseis.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= proddieciseis.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= proddieciseis.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= proddieciseis.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= proddieciseis.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= proddieciseis.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= proddieciseis.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= proddieciseis.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= proddieciseis.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= proddieciseis.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= proddieciseis.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= proddieciseis.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= proddieciseis.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= proddieciseis.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= proddieciseis.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= proddieciseis.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/proddieciseis/tallecolor/<%= proddieciseis._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= proddieciseis.talleuno %>"><%= proddieciseis.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= proddieciseis.coloruno %>"><%= proddieciseis.coloruno %></option>
                                  <option value="<%= proddieciseis.colordos %>"><%= proddieciseis.colordos %></option>
                                  <option value="<%= proddieciseis.colortres %>"><%= proddieciseis.colortres %></option>
                                  <option value="<%= proddieciseis.colorcuatro %>"><%= proddieciseis.colorcuatro %></option>
                                  <option value="<%= proddieciseis.colorcinco %>"><%= proddieciseis.colorcinco %></option>
                                  <option value="<%= proddieciseis.colorseis %>"><%= proddieciseis.colorseis %></option>
                                  <option value="<%= proddieciseis.colorsiete %>"><%= proddieciseis.colorsiete %></option>
                                  <option value="<%= proddieciseis.colorocho %>"><%= proddieciseis.colorocho %></option>
                                  <option value="<%= proddieciseis.colornueve %>"><%= proddieciseis.colornueve %></option>
                                  <option value="<%= proddieciseis.colordiez %>"><%= proddieciseis.colordiez %></option>
                                  <option value="<%= proddieciseis.coloronce %>"><%= proddieciseis.coloronce %></option>
                                  <option value="<%= proddieciseis.colordoce %>"><%= proddieciseis.colordoce %></option>
                                  <option value="<%= proddieciseis.colortrece %>"><%= proddieciseis.colortrece %></option>
                                  <option value="<%= proddieciseis.colorcatorce %>"><%= proddieciseis.colorcatorce %></option>
                                  <option value="<%= proddieciseis.colorquince %>"><%= proddieciseis.colorquince %></option>
                                  <option value="<%= proddieciseis.colordieciseis %>"><%= proddieciseis.colordieciseis %></option>
                                  <option value="<%= proddieciseis.colordiecisiete %>"><%= proddieciseis.colordiecisiete %></option>
                                  <option value="<%= proddieciseis.colordieciocho %>"><%= proddieciseis.colordieciocho %></option>
                                  <option value="<%= proddieciseis.colordiecinueve %>"><%= proddieciseis.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      