<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.image %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodveintiuno.image %>" data-zoom-image="<%= prodveintiuno.image %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.image %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodveintiuno.imagedos %>" data-zoom-image="<%= prodveintiuno.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodveintiuno.imagetres %>" data-zoom-image="<%= prodveintiuno.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodveintiuno.imagecuatro %>" data-zoom-image="<%= prodveintiuno.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodveintiuno.imagecinco %>" data-zoom-image="<%= prodveintiuno.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodveintiuno.imageseis %>" data-zoom-image="<%= prodveintiuno.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodveintiuno.imagesiete %>" data-zoom-image="<%= prodveintiuno.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodveintiuno.imageocho %>" data-zoom-image="<%= prodveintiuno.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodveintiuno.imagenueve %>" data-zoom-image="<%= prodveintiuno.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodveintiuno.imagediez %>" data-zoom-image="<%= prodveintiuno.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodveintiuno.imageonce %>" data-zoom-image="<%= prodveintiuno.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodveintiuno.imagedoce %>" data-zoom-image="<%= prodveintiuno.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodveintiuno.imageocho %>" data-zoom-image="<%= prodveintiuno.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodveintiuno.imagenueve %>" data-zoom-image="<%= prodveintiuno.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodveintiuno.imagediez %>" data-zoom-image="<%= prodveintiuno.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodveintiuno.imageonce %>" data-zoom-image="<%= prodveintiuno.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodveintiuno.imagedoce %>" data-zoom-image="<%= prodveintiuno.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodveintiuno.imagetrece %>" data-zoom-image="<%= prodveintiuno.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodveintiuno.imagecatorce %>" data-zoom-image="<%= prodveintiuno.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodveintiuno.imagequince %>" data-zoom-image="<%= prodveintiuno.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodveintiuno.imagedieciseis %>" data-zoom-image="<%= prodveintiuno.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodveintiuno.imagediecisiete %>" data-zoom-image="<%= prodveintiuno.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodveintiuno.imagedieciocho %>" data-zoom-image="<%= prodveintiuno.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodveintiuno.imagediecinueve %>" data-zoom-image="<%= prodveintiuno.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiuno.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodveintiuno.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodveintiuno.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodveintiuno.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodveintiuno.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiuno.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiuno.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveintiuno.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintiuno.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintiuno.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiuno.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveintiuno.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintiuno.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintiuno.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiuno.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveintiuno.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintiuno.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintiuno.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiuno.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveintiuno.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintiuno.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintiuno.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodveintiuno.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiuno.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiuno.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodveintiuno.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiuno.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiuno.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodveintiuno/tallecolor/<%= prodveintiuno._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodveintiuno.talleuno %>"><%= prodveintiuno.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodveintiuno.coloruno %>"><%= prodveintiuno.coloruno %></option>
                                  <option value="<%= prodveintiuno.colordos %>"><%= prodveintiuno.colordos %></option>
                                  <option value="<%= prodveintiuno.colortres %>"><%= prodveintiuno.colortres %></option>
                                  <option value="<%= prodveintiuno.colorcuatro %>"><%= prodveintiuno.colorcuatro %></option>
                                  <option value="<%= prodveintiuno.colorcinco %>"><%= prodveintiuno.colorcinco %></option>
                                  <option value="<%= prodveintiuno.colorseis %>"><%= prodveintiuno.colorseis %></option>
                                  <option value="<%= prodveintiuno.colorsiete %>"><%= prodveintiuno.colorsiete %></option>
                                  <option value="<%= prodveintiuno.colorocho %>"><%= prodveintiuno.colorocho %></option>
                                  <option value="<%= prodveintiuno.colornueve %>"><%= prodveintiuno.colornueve %></option>
                                  <option value="<%= prodveintiuno.colordiez %>"><%= prodveintiuno.colordiez %></option>
                                  <option value="<%= prodveintiuno.coloronce %>"><%= prodveintiuno.coloronce %></option>
                                  <option value="<%= prodveintiuno.colordoce %>"><%= prodveintiuno.colordoce %></option>
                                  <option value="<%= prodveintiuno.colortrece %>"><%= prodveintiuno.colortrece %></option>
                                  <option value="<%= prodveintiuno.colorcatorce %>"><%= prodveintiuno.colorcatorce %></option>
                                  <option value="<%= prodveintiuno.colorquince %>"><%= prodveintiuno.colorquince %></option>
                                  <option value="<%= prodveintiuno.colordieciseis %>"><%= prodveintiuno.colordieciseis %></option>
                                  <option value="<%= prodveintiuno.colordiecisiete %>"><%= prodveintiuno.colordiecisiete %></option>
                                  <option value="<%= prodveintiuno.colordieciocho %>"><%= prodveintiuno.colordieciocho %></option>
                                  <option value="<%= prodveintiuno.colordiecinueve %>"><%= prodveintiuno.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      