<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodveintinueve.imageuno %>" data-zoom-image="<%= prodveintinueve.imageuno %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodveintinueve.imagedos %>" data-zoom-image="<%= prodveintinueve.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodveintinueve.imagetres %>" data-zoom-image="<%= prodveintinueve.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodveintinueve.imagecuatro %>" data-zoom-image="<%= prodveintinueve.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodveintinueve.imagecinco %>" data-zoom-image="<%= prodveintinueve.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodveintinueve.imageseis %>" data-zoom-image="<%= prodveintinueve.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodveintinueve.imagesiete %>" data-zoom-image="<%= prodveintinueve.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodveintinueve.imageocho %>" data-zoom-image="<%= prodveintinueve.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodveintinueve.imagenueve %>" data-zoom-image="<%= prodveintinueve.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodveintinueve.imagediez %>" data-zoom-image="<%= prodveintinueve.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodveintinueve.imageonce %>" data-zoom-image="<%= prodveintinueve.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodveintinueve.imagedoce %>" data-zoom-image="<%= prodveintinueve.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodveintinueve.imageocho %>" data-zoom-image="<%= prodveintinueve.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodveintinueve.imagenueve %>" data-zoom-image="<%= prodveintinueve.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodveintinueve.imagediez %>" data-zoom-image="<%= prodveintinueve.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodveintinueve.imageonce %>" data-zoom-image="<%= prodveintinueve.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodveintinueve.imagedoce %>" data-zoom-image="<%= prodveintinueve.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodveintinueve.imagetrece %>" data-zoom-image="<%= prodveintinueve.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodveintinueve.imagecatorce %>" data-zoom-image="<%= prodveintinueve.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodveintinueve.imagequince %>" data-zoom-image="<%= prodveintinueve.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodveintinueve.imagedieciseis %>" data-zoom-image="<%= prodveintinueve.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodveintinueve.imagediecisiete %>" data-zoom-image="<%= prodveintinueve.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodveintinueve.imagedieciocho %>" data-zoom-image="<%= prodveintinueve.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodveintinueve.imagediecinueve %>" data-zoom-image="<%= prodveintinueve.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintinueve.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodveintinueve.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodveintinueve.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodveintinueve.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodveintinueve.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintinueve.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintinueve.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveintinueve.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintinueve.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintinueve.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintinueve.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveintinueve.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintinueve.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintinueve.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintinueve.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveintinueve.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintinueve.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintinueve.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintinueve.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveintinueve.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintinueve.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintinueve.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodveintinueve.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintinueve.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintinueve.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodveintinueve.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintinueve.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintinueve.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodveintinueve/tallecolor/<%= prodveintinueve._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodveintinueve.talleuno %>"><%= prodveintinueve.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodveintinueve.coloruno %>"><%= prodveintinueve.coloruno %></option>
                                  <option value="<%= prodveintinueve.colordos %>"><%= prodveintinueve.colordos %></option>
                                  <option value="<%= prodveintinueve.colortres %>"><%= prodveintinueve.colortres %></option>
                                  <option value="<%= prodveintinueve.colorcuatro %>"><%= prodveintinueve.colorcuatro %></option>
                                  <option value="<%= prodveintinueve.colorcinco %>"><%= prodveintinueve.colorcinco %></option>
                                  <option value="<%= prodveintinueve.colorseis %>"><%= prodveintinueve.colorseis %></option>
                                  <option value="<%= prodveintinueve.colorsiete %>"><%= prodveintinueve.colorsiete %></option>
                                  <option value="<%= prodveintinueve.colorocho %>"><%= prodveintinueve.colorocho %></option>
                                  <option value="<%= prodveintinueve.colornueve %>"><%= prodveintinueve.colornueve %></option>
                                  <option value="<%= prodveintinueve.colordiez %>"><%= prodveintinueve.colordiez %></option>
                                  <option value="<%= prodveintinueve.coloronce %>"><%= prodveintinueve.coloronce %></option>
                                  <option value="<%= prodveintinueve.colordoce %>"><%= prodveintinueve.colordoce %></option>
                                  <option value="<%= prodveintinueve.colortrece %>"><%= prodveintinueve.colortrece %></option>
                                  <option value="<%= prodveintinueve.colorcatorce %>"><%= prodveintinueve.colorcatorce %></option>
                                  <option value="<%= prodveintinueve.colorquince %>"><%= prodveintinueve.colorquince %></option>
                                  <option value="<%= prodveintinueve.colordieciseis %>"><%= prodveintinueve.colordieciseis %></option>
                                  <option value="<%= prodveintinueve.colordiecisiete %>"><%= prodveintinueve.colordiecisiete %></option>
                                  <option value="<%= prodveintinueve.colordieciocho %>"><%= prodveintinueve.colordieciocho %></option>
                                  <option value="<%= prodveintinueve.colordiecinueve %>"><%= prodveintinueve.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      