<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.image %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodveinticinco.image %>" data-zoom-image="<%= prodveinticinco.image %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.image %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodveinticinco.imagedos %>" data-zoom-image="<%= prodveinticinco.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodveinticinco.imagetres %>" data-zoom-image="<%= prodveinticinco.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodveinticinco.imagecuatro %>" data-zoom-image="<%= prodveinticinco.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodveinticinco.imagecinco %>" data-zoom-image="<%= prodveinticinco.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodveinticinco.imageseis %>" data-zoom-image="<%= prodveinticinco.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodveinticinco.imagesiete %>" data-zoom-image="<%= prodveinticinco.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodveinticinco.imageocho %>" data-zoom-image="<%= prodveinticinco.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodveinticinco.imagenueve %>" data-zoom-image="<%= prodveinticinco.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodveinticinco.imagediez %>" data-zoom-image="<%= prodveinticinco.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodveinticinco.imageonce %>" data-zoom-image="<%= prodveinticinco.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodveinticinco.imagedoce %>" data-zoom-image="<%= prodveinticinco.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodveinticinco.imageocho %>" data-zoom-image="<%= prodveinticinco.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodveinticinco.imagenueve %>" data-zoom-image="<%= prodveinticinco.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodveinticinco.imagediez %>" data-zoom-image="<%= prodveinticinco.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodveinticinco.imageonce %>" data-zoom-image="<%= prodveinticinco.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodveinticinco.imagedoce %>" data-zoom-image="<%= prodveinticinco.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodveinticinco.imagetrece %>" data-zoom-image="<%= prodveinticinco.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodveinticinco.imagecatorce %>" data-zoom-image="<%= prodveinticinco.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodveinticinco.imagequince %>" data-zoom-image="<%= prodveinticinco.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodveinticinco.imagedieciseis %>" data-zoom-image="<%= prodveinticinco.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodveinticinco.imagediecisiete %>" data-zoom-image="<%= prodveinticinco.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodveinticinco.imagedieciocho %>" data-zoom-image="<%= prodveinticinco.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodveinticinco.imagediecinueve %>" data-zoom-image="<%= prodveinticinco.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveinticinco.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodveinticinco.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodveinticinco.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodveinticinco.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodveinticinco.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveinticinco.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveinticinco.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveinticinco.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveinticinco.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveinticinco.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveinticinco.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveinticinco.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveinticinco.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveinticinco.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveinticinco.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveinticinco.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveinticinco.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveinticinco.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveinticinco.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveinticinco.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveinticinco.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveinticinco.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodveinticinco.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveinticinco.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveinticinco.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodveinticinco.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveinticinco.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveinticinco.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodveinticinco/tallecolor/<%= prodveinticinco._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodveinticinco.talleuno %>"><%= prodveinticinco.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodveinticinco.coloruno %>"><%= prodveinticinco.coloruno %></option>
                                  <option value="<%= prodveinticinco.colordos %>"><%= prodveinticinco.colordos %></option>
                                  <option value="<%= prodveinticinco.colortres %>"><%= prodveinticinco.colortres %></option>
                                  <option value="<%= prodveinticinco.colorcuatro %>"><%= prodveinticinco.colorcuatro %></option>
                                  <option value="<%= prodveinticinco.colorcinco %>"><%= prodveinticinco.colorcinco %></option>
                                  <option value="<%= prodveinticinco.colorseis %>"><%= prodveinticinco.colorseis %></option>
                                  <option value="<%= prodveinticinco.colorsiete %>"><%= prodveinticinco.colorsiete %></option>
                                  <option value="<%= prodveinticinco.colorocho %>"><%= prodveinticinco.colorocho %></option>
                                  <option value="<%= prodveinticinco.colornueve %>"><%= prodveinticinco.colornueve %></option>
                                  <option value="<%= prodveinticinco.colordiez %>"><%= prodveinticinco.colordiez %></option>
                                  <option value="<%= prodveinticinco.coloronce %>"><%= prodveinticinco.coloronce %></option>
                                  <option value="<%= prodveinticinco.colordoce %>"><%= prodveinticinco.colordoce %></option>
                                  <option value="<%= prodveinticinco.colortrece %>"><%= prodveinticinco.colortrece %></option>
                                  <option value="<%= prodveinticinco.colorcatorce %>"><%= prodveinticinco.colorcatorce %></option>
                                  <option value="<%= prodveinticinco.colorquince %>"><%= prodveinticinco.colorquince %></option>
                                  <option value="<%= prodveinticinco.colordieciseis %>"><%= prodveinticinco.colordieciseis %></option>
                                  <option value="<%= prodveinticinco.colordiecisiete %>"><%= prodveinticinco.colordiecisiete %></option>
                                  <option value="<%= prodveinticinco.colordieciocho %>"><%= prodveinticinco.colordieciocho %></option>
                                  <option value="<%= prodveinticinco.colordiecinueve %>"><%= prodveinticinco.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      