<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.image %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodcuarentitres.image %>" data-zoom-image="<%= prodcuarentitres.image %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.image %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodcuarentitres.imagedos %>" data-zoom-image="<%= prodcuarentitres.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuarentitres.imagetres %>" data-zoom-image="<%= prodcuarentitres.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuarentitres.imagecuatro %>" data-zoom-image="<%= prodcuarentitres.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuarentitres.imagecinco %>" data-zoom-image="<%= prodcuarentitres.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuarentitres.imageseis %>" data-zoom-image="<%= prodcuarentitres.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodcuarentitres.imagesiete %>" data-zoom-image="<%= prodcuarentitres.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodcuarentitres.imageocho %>" data-zoom-image="<%= prodcuarentitres.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodcuarentitres.imagenueve %>" data-zoom-image="<%= prodcuarentitres.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodcuarentitres.imagediez %>" data-zoom-image="<%= prodcuarentitres.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodcuarentitres.imageonce %>" data-zoom-image="<%= prodcuarentitres.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodcuarentitres.imagedoce %>" data-zoom-image="<%= prodcuarentitres.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodcuarentitres.imageocho %>" data-zoom-image="<%= prodcuarentitres.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodcuarentitres.imagenueve %>" data-zoom-image="<%= prodcuarentitres.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodcuarentitres.imagediez %>" data-zoom-image="<%= prodcuarentitres.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodcuarentitres.imageonce %>" data-zoom-image="<%= prodcuarentitres.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodcuarentitres.imagedoce %>" data-zoom-image="<%= prodcuarentitres.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodcuarentitres.imagetrece %>" data-zoom-image="<%= prodcuarentitres.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodcuarentitres.imagecatorce %>" data-zoom-image="<%= prodcuarentitres.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodcuarentitres.imagequince %>" data-zoom-image="<%= prodcuarentitres.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodcuarentitres.imagedieciseis %>" data-zoom-image="<%= prodcuarentitres.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodcuarentitres.imagediecisiete %>" data-zoom-image="<%= prodcuarentitres.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodcuarentitres.imagedieciocho %>" data-zoom-image="<%= prodcuarentitres.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodcuarentitres.imagediecinueve %>" data-zoom-image="<%= prodcuarentitres.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentitres.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcuarentitres.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcuarentitres.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcuarentitres.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcuarentitres.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentitres.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentitres.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuarentitres.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentitres.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentitres.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentitres.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuarentitres.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentitres.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentitres.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentitres.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuarentitres.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentitres.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentitres.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentitres.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuarentitres.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentitres.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentitres.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcuarentitres.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentitres.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentitres.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcuarentitres.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentitres.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentitres.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodcuarentitres/tallecolor/<%= prodcuarentitres._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodcuarentitres.talleuno %>"><%= prodcuarentitres.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodcuarentitres.coloruno %>"><%= prodcuarentitres.coloruno %></option>
                                  <option value="<%= prodcuarentitres.colordos %>"><%= prodcuarentitres.colordos %></option>
                                  <option value="<%= prodcuarentitres.colortres %>"><%= prodcuarentitres.colortres %></option>
                                  <option value="<%= prodcuarentitres.colorcuatro %>"><%= prodcuarentitres.colorcuatro %></option>
                                  <option value="<%= prodcuarentitres.colorcinco %>"><%= prodcuarentitres.colorcinco %></option>
                                  <option value="<%= prodcuarentitres.colorseis %>"><%= prodcuarentitres.colorseis %></option>
                                  <option value="<%= prodcuarentitres.colorsiete %>"><%= prodcuarentitres.colorsiete %></option>
                                  <option value="<%= prodcuarentitres.colorocho %>"><%= prodcuarentitres.colorocho %></option>
                                  <option value="<%= prodcuarentitres.colornueve %>"><%= prodcuarentitres.colornueve %></option>
                                  <option value="<%= prodcuarentitres.colordiez %>"><%= prodcuarentitres.colordiez %></option>
                                  <option value="<%= prodcuarentitres.coloronce %>"><%= prodcuarentitres.coloronce %></option>
                                  <option value="<%= prodcuarentitres.colordoce %>"><%= prodcuarentitres.colordoce %></option>
                                  <option value="<%= prodcuarentitres.colortrece %>"><%= prodcuarentitres.colortrece %></option>
                                  <option value="<%= prodcuarentitres.colorcatorce %>"><%= prodcuarentitres.colorcatorce %></option>
                                  <option value="<%= prodcuarentitres.colorquince %>"><%= prodcuarentitres.colorquince %></option>
                                  <option value="<%= prodcuarentitres.colordieciseis %>"><%= prodcuarentitres.colordieciseis %></option>
                                  <option value="<%= prodcuarentitres.colordiecisiete %>"><%= prodcuarentitres.colordiecisiete %></option>
                                  <option value="<%= prodcuarentitres.colordieciocho %>"><%= prodcuarentitres.colordieciocho %></option>
                                  <option value="<%= prodcuarentitres.colordiecinueve %>"><%= prodcuarentitres.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      