<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodtreintaitres.imageuno %>" data-zoom-image="<%= prodtreintaitres.imageuno %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodtreintaitres.imagedos %>" data-zoom-image="<%= prodtreintaitres.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaitres.imagetres %>" data-zoom-image="<%= prodtreintaitres.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaitres.imagecuatro %>" data-zoom-image="<%= prodtreintaitres.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaitres.imagecinco %>" data-zoom-image="<%= prodtreintaitres.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaitres.imageseis %>" data-zoom-image="<%= prodtreintaitres.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodtreintaitres.imagesiete %>" data-zoom-image="<%= prodtreintaitres.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodtreintaitres.imageocho %>" data-zoom-image="<%= prodtreintaitres.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodtreintaitres.imagenueve %>" data-zoom-image="<%= prodtreintaitres.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodtreintaitres.imagediez %>" data-zoom-image="<%= prodtreintaitres.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodtreintaitres.imageonce %>" data-zoom-image="<%= prodtreintaitres.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodtreintaitres.imagedoce %>" data-zoom-image="<%= prodtreintaitres.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodtreintaitres.imageocho %>" data-zoom-image="<%= prodtreintaitres.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodtreintaitres.imagenueve %>" data-zoom-image="<%= prodtreintaitres.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodtreintaitres.imagediez %>" data-zoom-image="<%= prodtreintaitres.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodtreintaitres.imageonce %>" data-zoom-image="<%= prodtreintaitres.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodtreintaitres.imagedoce %>" data-zoom-image="<%= prodtreintaitres.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodtreintaitres.imagetrece %>" data-zoom-image="<%= prodtreintaitres.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodtreintaitres.imagecatorce %>" data-zoom-image="<%= prodtreintaitres.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodtreintaitres.imagequince %>" data-zoom-image="<%= prodtreintaitres.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodtreintaitres.imagedieciseis %>" data-zoom-image="<%= prodtreintaitres.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodtreintaitres.imagediecisiete %>" data-zoom-image="<%= prodtreintaitres.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodtreintaitres.imagedieciocho %>" data-zoom-image="<%= prodtreintaitres.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodtreintaitres.imagediecinueve %>" data-zoom-image="<%= prodtreintaitres.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaitres.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintaitres.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintaitres.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintaitres.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintaitres.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaitres.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaitres.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaitres.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaitres.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaitres.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaitres.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaitres.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaitres.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaitres.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaitres.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaitres.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaitres.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaitres.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaitres.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaitres.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaitres.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaitres.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintaitres.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaitres.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaitres.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintaitres.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaitres.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaitres.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodtreintaitres/tallecolor/<%= prodtreintaitres._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodtreintaitres.talleuno %>"><%= prodtreintaitres.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodtreintaitres.coloruno %>"><%= prodtreintaitres.coloruno %></option>
                                  <option value="<%= prodtreintaitres.colordos %>"><%= prodtreintaitres.colordos %></option>
                                  <option value="<%= prodtreintaitres.colortres %>"><%= prodtreintaitres.colortres %></option>
                                  <option value="<%= prodtreintaitres.colorcuatro %>"><%= prodtreintaitres.colorcuatro %></option>
                                  <option value="<%= prodtreintaitres.colorcinco %>"><%= prodtreintaitres.colorcinco %></option>
                                  <option value="<%= prodtreintaitres.colorseis %>"><%= prodtreintaitres.colorseis %></option>
                                  <option value="<%= prodtreintaitres.colorsiete %>"><%= prodtreintaitres.colorsiete %></option>
                                  <option value="<%= prodtreintaitres.colorocho %>"><%= prodtreintaitres.colorocho %></option>
                                  <option value="<%= prodtreintaitres.colornueve %>"><%= prodtreintaitres.colornueve %></option>
                                  <option value="<%= prodtreintaitres.colordiez %>"><%= prodtreintaitres.colordiez %></option>
                                  <option value="<%= prodtreintaitres.coloronce %>"><%= prodtreintaitres.coloronce %></option>
                                  <option value="<%= prodtreintaitres.colordoce %>"><%= prodtreintaitres.colordoce %></option>
                                  <option value="<%= prodtreintaitres.colortrece %>"><%= prodtreintaitres.colortrece %></option>
                                  <option value="<%= prodtreintaitres.colorcatorce %>"><%= prodtreintaitres.colorcatorce %></option>
                                  <option value="<%= prodtreintaitres.colorquince %>"><%= prodtreintaitres.colorquince %></option>
                                  <option value="<%= prodtreintaitres.colordieciseis %>"><%= prodtreintaitres.colordieciseis %></option>
                                  <option value="<%= prodtreintaitres.colordiecisiete %>"><%= prodtreintaitres.colordiecisiete %></option>
                                  <option value="<%= prodtreintaitres.colordieciocho %>"><%= prodtreintaitres.colordieciocho %></option>
                                  <option value="<%= prodtreintaitres.colordiecinueve %>"><%= prodtreintaitres.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      