<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodtreintitres.imageuno %>" data-zoom-image="<%= prodtreintitres.imageuno %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodtreintitres.imagedos %>" data-zoom-image="<%= prodtreintitres.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintitres.imagetres %>" data-zoom-image="<%= prodtreintitres.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintitres.imagecuatro %>" data-zoom-image="<%= prodtreintitres.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintitres.imagecinco %>" data-zoom-image="<%= prodtreintitres.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintitres.imageseis %>" data-zoom-image="<%= prodtreintitres.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodtreintitres.imagesiete %>" data-zoom-image="<%= prodtreintitres.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodtreintitres.imageocho %>" data-zoom-image="<%= prodtreintitres.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodtreintitres.imagenueve %>" data-zoom-image="<%= prodtreintitres.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodtreintitres.imagediez %>" data-zoom-image="<%= prodtreintitres.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodtreintitres.imageonce %>" data-zoom-image="<%= prodtreintitres.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodtreintitres.imagedoce %>" data-zoom-image="<%= prodtreintitres.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodtreintitres.imageocho %>" data-zoom-image="<%= prodtreintitres.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodtreintitres.imagenueve %>" data-zoom-image="<%= prodtreintitres.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodtreintitres.imagediez %>" data-zoom-image="<%= prodtreintitres.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodtreintitres.imageonce %>" data-zoom-image="<%= prodtreintitres.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodtreintitres.imagedoce %>" data-zoom-image="<%= prodtreintitres.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodtreintitres.imagetrece %>" data-zoom-image="<%= prodtreintitres.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodtreintitres.imagecatorce %>" data-zoom-image="<%= prodtreintitres.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodtreintitres.imagequince %>" data-zoom-image="<%= prodtreintitres.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodtreintitres.imagedieciseis %>" data-zoom-image="<%= prodtreintitres.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodtreintitres.imagediecisiete %>" data-zoom-image="<%= prodtreintitres.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodtreintitres.imagedieciocho %>" data-zoom-image="<%= prodtreintitres.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodtreintitres.imagediecinueve %>" data-zoom-image="<%= prodtreintitres.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintitres.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintitres.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintitres.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintitres.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintitres.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintitres.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintitres.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintitres.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintitres.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintitres.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintitres.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintitres.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintitres.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintitres.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintitres.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintitres.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintitres.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintitres.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintitres.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintitres.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintitres.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintitres.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintitres.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintitres.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintitres.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintitres.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintitres.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintitres.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodtreintitres/tallecolor/<%= prodtreintitres._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodtreintitres.talleuno %>"><%= prodtreintitres.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodtreintitres.coloruno %>"><%= prodtreintitres.coloruno %></option>
                                  <option value="<%= prodtreintitres.colordos %>"><%= prodtreintitres.colordos %></option>
                                  <option value="<%= prodtreintitres.colortres %>"><%= prodtreintitres.colortres %></option>
                                  <option value="<%= prodtreintitres.colorcuatro %>"><%= prodtreintitres.colorcuatro %></option>
                                  <option value="<%= prodtreintitres.colorcinco %>"><%= prodtreintitres.colorcinco %></option>
                                  <option value="<%= prodtreintitres.colorseis %>"><%= prodtreintitres.colorseis %></option>
                                  <option value="<%= prodtreintitres.colorsiete %>"><%= prodtreintitres.colorsiete %></option>
                                  <option value="<%= prodtreintitres.colorocho %>"><%= prodtreintitres.colorocho %></option>
                                  <option value="<%= prodtreintitres.colornueve %>"><%= prodtreintitres.colornueve %></option>
                                  <option value="<%= prodtreintitres.colordiez %>"><%= prodtreintitres.colordiez %></option>
                                  <option value="<%= prodtreintitres.coloronce %>"><%= prodtreintitres.coloronce %></option>
                                  <option value="<%= prodtreintitres.colordoce %>"><%= prodtreintitres.colordoce %></option>
                                  <option value="<%= prodtreintitres.colortrece %>"><%= prodtreintitres.colortrece %></option>
                                  <option value="<%= prodtreintitres.colorcatorce %>"><%= prodtreintitres.colorcatorce %></option>
                                  <option value="<%= prodtreintitres.colorquince %>"><%= prodtreintitres.colorquince %></option>
                                  <option value="<%= prodtreintitres.colordieciseis %>"><%= prodtreintitres.colordieciseis %></option>
                                  <option value="<%= prodtreintitres.colordiecisiete %>"><%= prodtreintitres.colordiecisiete %></option>
                                  <option value="<%= prodtreintitres.colordieciocho %>"><%= prodtreintitres.colordieciocho %></option>
                                  <option value="<%= prodtreintitres.colordiecinueve %>"><%= prodtreintitres.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      