<% include ../partials/_header %>

 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodcuatro/tallecolor/<%= prodcuatro._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodcuatro.talleuno %>"><%= prodcuatro.talleuno %></option>
                                  <option value="<%= prodcuatro.talledos %>"><%= prodcuatro.talledos %></option>
                                  <option value="<%= prodcuatro.talletres %>"><%= prodcuatro.talletres %></option>
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodcuatro.coloruno %>"><%= prodcuatro.coloruno %></option>
                                  <option value="<%= prodcuatro.colordos %>"><%= prodcuatro.colordos %></option>
                                  <option value="<%= prodcuatro.colortres %>"><%= prodcuatro.colortres %></option>
                                  <option value="<%= prodcuatro.colorcuatro %>"><%= prodcuatro.colorcuatro %></option>
                                  <option value="<%= prodcuatro.colorcinco %>"><%= prodcuatro.colorcinco %></option>
                                  <option value="<%= prodcuatro.colorseis %>"><%= prodcuatro.colorseis %></option>
                                  <option value="<%= prodcuatro.colorsiete %>"><%= prodcuatro.colorsiete %></option>
                                  <option value="<%= prodcuatro.colorocho %>"><%= prodcuatro.colorocho %></option>
                                  <option value="<%= prodcuatro.colornueve %>"><%= prodcuatro.colornueve %></option>
                                  <option value="<%= prodcuatro.colordiez %>"><%= prodcuatro.colordiez %></option>
                                  <option value="<%= prodcuatro.coloronce %>"><%= prodcuatro.coloronce %></option>
                                  <option value="<%= prodcuatro.colordoce %>"><%= prodcuatro.colordoce %></option>
                                  <option value="<%= prodcuatro.colortrece %>"><%= prodcuatro.colortrece %></option>
                                  <option value="<%= prodcuatro.colorcatorce %>"><%= prodcuatro.colorcatorce %></option>
                                  <option value="<%= prodcuatro.colorquince %>"><%= prodcuatro.colorquince %></option>
                                  <option value="<%= prodcuatro.colordieciseis %>"><%= prodcuatro.colordieciseis %></option>
                                  <option value="<%= prodcuatro.colordiecisiete %>"><%= prodcuatro.colordiecisiete %></option>
                                  <option value="<%= prodcuatro.colordieciocho %>"><%= prodcuatro.colordieciocho %></option>
                                  <option value="<%= prodcuatro.colordiecinueve %>"><%= prodcuatro.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                    <div class=" row">
                        <div class="col-md-6">
                            <button class="btn btn--e-brand-b-2 mt-5">Enviar</button>

                          </div>
                        </div>
                       </div>

                </form>


            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
  </div>
</div>




            

      <% include ../partials/_footer %>
      
