<% include ../partials/_header %>
        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodcuatro.imageuno %>" data-zoom-image="<%= prodcuatro.imageuno %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodcuatro.imagedos %>" data-zoom-image="<%= prodcuatro.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuatro.imagetres %>" data-zoom-image="<%= prodcuatro.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuatro.imagecuatro %>" data-zoom-image="<%= prodcuatro.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuatro.imagecinco %>" data-zoom-image="<%= prodcuatro.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuatro.imageseis %>" data-zoom-image="<%= prodcuatro.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodcuatro.imagesiete %>" data-zoom-image="<%= prodcuatro.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodcuatro.imageocho %>" data-zoom-image="<%= prodcuatro.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodcuatro.imagenueve %>" data-zoom-image="<%= prodcuatro.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodcuatro.imagediez %>" data-zoom-image="<%= prodcuatro.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodcuatro.imageonce %>" data-zoom-image="<%= prodcuatro.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodcuatro.imagedoce %>" data-zoom-image="<%= prodcuatro.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodcuatro.imageocho %>" data-zoom-image="<%= prodcuatro.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodcuatro.imagenueve %>" data-zoom-image="<%= prodcuatro.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodcuatro.imagediez %>" data-zoom-image="<%= prodcuatro.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodcuatro.imageonce %>" data-zoom-image="<%= prodcuatro.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodcuatro.imagedoce %>" data-zoom-image="<%= prodcuatro.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodcuatro.imagetrece %>" data-zoom-image="<%= prodcuatro.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodcuatro.imagecatorce %>" data-zoom-image="<%= prodcuatro.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodcuatro.imagequince %>" data-zoom-image="<%= prodcuatro.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodcuatro.imagedieciseis %>" data-zoom-image="<%= prodcuatro.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodcuatro.imagediecisiete %>" data-zoom-image="<%= prodcuatro.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodcuatro.imagedieciocho %>" data-zoom-image="<%= prodcuatro.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodcuatro.imagediecinueve %>" data-zoom-image="<%= prodcuatro.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuatro.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcuatro.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcuatro.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcuatro.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcuatro.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuatro.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuatro.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuatro.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuatro.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuatro.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuatro.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuatro.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuatro.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuatro.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuatro.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuatro.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuatro.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuatro.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuatro.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuatro.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuatro.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuatro.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcuatro.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuatro.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuatro.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcuatro.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuatro.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuatro.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodcuatro/tallecolor/<%= prodcuatro._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodcuatro.talleuno %>"><%= prodcuatro.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodcuatro.coloruno %>"><%= prodcuatro.coloruno %></option>
                                  <option value="<%= prodcuatro.colordos %>"><%= prodcuatro.colordos %></option>
                                  <option value="<%= prodcuatro.colortres %>"><%= prodcuatro.colortres %></option>
                                  <option value="<%= prodcuatro.colorcuatro %>"><%= prodcuatro.colorcuatro %></option>
                                  <option value="<%= prodcuatro.colorcinco %>"><%= prodcuatro.colorcinco %></option>
                                  <option value="<%= prodcuatro.colorseis %>"><%= prodcuatro.colorseis %></option>
                                  <option value="<%= prodcuatro.colorsiete %>"><%= prodcuatro.colorsiete %></option>
                                  <option value="<%= prodcuatro.colorocho %>"><%= prodcuatro.colorocho %></option>
                                  <option value="<%= prodcuatro.colornueve %>"><%= prodcuatro.colornueve %></option>
                                  <option value="<%= prodcuatro.colordiez %>"><%= prodcuatro.colordiez %></option>
                                  <option value="<%= prodcuatro.coloronce %>"><%= prodcuatro.coloronce %></option>
                                  <option value="<%= prodcuatro.colordoce %>"><%= prodcuatro.colordoce %></option>
                                  <option value="<%= prodcuatro.colortrece %>"><%= prodcuatro.colortrece %></option>
                                  <option value="<%= prodcuatro.colorcatorce %>"><%= prodcuatro.colorcatorce %></option>
                                  <option value="<%= prodcuatro.colorquince %>"><%= prodcuatro.colorquince %></option>
                                  <option value="<%= prodcuatro.colordieciseis %>"><%= prodcuatro.colordieciseis %></option>
                                  <option value="<%= prodcuatro.colordiecisiete %>"><%= prodcuatro.colordiecisiete %></option>
                                  <option value="<%= prodcuatro.colordieciocho %>"><%= prodcuatro.colordieciocho %></option>
                                  <option value="<%= prodcuatro.colordiecinueve %>"><%= prodcuatro.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      