<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodveintiseis.imageuno %>" data-zoom-image="<%= prodveintiseis.imageuno %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodveintiseis.imagedos %>" data-zoom-image="<%= prodveintiseis.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodveintiseis.imagetres %>" data-zoom-image="<%= prodveintiseis.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodveintiseis.imagecuatro %>" data-zoom-image="<%= prodveintiseis.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodveintiseis.imagecinco %>" data-zoom-image="<%= prodveintiseis.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodveintiseis.imageseis %>" data-zoom-image="<%= prodveintiseis.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodveintiseis.imagesiete %>" data-zoom-image="<%= prodveintiseis.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodveintiseis.imageocho %>" data-zoom-image="<%= prodveintiseis.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodveintiseis.imagenueve %>" data-zoom-image="<%= prodveintiseis.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodveintiseis.imagediez %>" data-zoom-image="<%= prodveintiseis.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodveintiseis.imageonce %>" data-zoom-image="<%= prodveintiseis.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodveintiseis.imagedoce %>" data-zoom-image="<%= prodveintiseis.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodveintiseis.imageocho %>" data-zoom-image="<%= prodveintiseis.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodveintiseis.imagenueve %>" data-zoom-image="<%= prodveintiseis.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodveintiseis.imagediez %>" data-zoom-image="<%= prodveintiseis.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodveintiseis.imageonce %>" data-zoom-image="<%= prodveintiseis.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodveintiseis.imagedoce %>" data-zoom-image="<%= prodveintiseis.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodveintiseis.imagetrece %>" data-zoom-image="<%= prodveintiseis.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodveintiseis.imagecatorce %>" data-zoom-image="<%= prodveintiseis.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodveintiseis.imagequince %>" data-zoom-image="<%= prodveintiseis.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodveintiseis.imagedieciseis %>" data-zoom-image="<%= prodveintiseis.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodveintiseis.imagediecisiete %>" data-zoom-image="<%= prodveintiseis.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodveintiseis.imagedieciocho %>" data-zoom-image="<%= prodveintiseis.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodveintiseis.imagediecinueve %>" data-zoom-image="<%= prodveintiseis.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintiseis.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodveintiseis.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodveintiseis.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodveintiseis.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodveintiseis.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiseis.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiseis.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveintiseis.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintiseis.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintiseis.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiseis.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveintiseis.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintiseis.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintiseis.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiseis.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveintiseis.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintiseis.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintiseis.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiseis.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveintiseis.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintiseis.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintiseis.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodveintiseis.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiseis.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiseis.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodveintiseis.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiseis.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintiseis.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodveintiseis/tallecolor/<%= prodveintiseis._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodveintiseis.talleuno %>"><%= prodveintiseis.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodveintiseis.coloruno %>"><%= prodveintiseis.coloruno %></option>
                                  <option value="<%= prodveintiseis.colordos %>"><%= prodveintiseis.colordos %></option>
                                  <option value="<%= prodveintiseis.colortres %>"><%= prodveintiseis.colortres %></option>
                                  <option value="<%= prodveintiseis.colorcuatro %>"><%= prodveintiseis.colorcuatro %></option>
                                  <option value="<%= prodveintiseis.colorcinco %>"><%= prodveintiseis.colorcinco %></option>
                                  <option value="<%= prodveintiseis.colorseis %>"><%= prodveintiseis.colorseis %></option>
                                  <option value="<%= prodveintiseis.colorsiete %>"><%= prodveintiseis.colorsiete %></option>
                                  <option value="<%= prodveintiseis.colorocho %>"><%= prodveintiseis.colorocho %></option>
                                  <option value="<%= prodveintiseis.colornueve %>"><%= prodveintiseis.colornueve %></option>
                                  <option value="<%= prodveintiseis.colordiez %>"><%= prodveintiseis.colordiez %></option>
                                  <option value="<%= prodveintiseis.coloronce %>"><%= prodveintiseis.coloronce %></option>
                                  <option value="<%= prodveintiseis.colordoce %>"><%= prodveintiseis.colordoce %></option>
                                  <option value="<%= prodveintiseis.colortrece %>"><%= prodveintiseis.colortrece %></option>
                                  <option value="<%= prodveintiseis.colorcatorce %>"><%= prodveintiseis.colorcatorce %></option>
                                  <option value="<%= prodveintiseis.colorquince %>"><%= prodveintiseis.colorquince %></option>
                                  <option value="<%= prodveintiseis.colordieciseis %>"><%= prodveintiseis.colordieciseis %></option>
                                  <option value="<%= prodveintiseis.colordiecisiete %>"><%= prodveintiseis.colordiecisiete %></option>
                                  <option value="<%= prodveintiseis.colordieciocho %>"><%= prodveintiseis.colordieciocho %></option>
                                  <option value="<%= prodveintiseis.colordiecinueve %>"><%= prodveintiseis.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      