<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.image %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodtreintaicuatro.image %>" data-zoom-image="<%= prodtreintaicuatro.image %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.image %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagedos %>" data-zoom-image="<%= prodtreintaicuatro.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagetres %>" data-zoom-image="<%= prodtreintaicuatro.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagecuatro %>" data-zoom-image="<%= prodtreintaicuatro.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagecinco %>" data-zoom-image="<%= prodtreintaicuatro.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaicuatro.imageseis %>" data-zoom-image="<%= prodtreintaicuatro.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagesiete %>" data-zoom-image="<%= prodtreintaicuatro.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodtreintaicuatro.imageocho %>" data-zoom-image="<%= prodtreintaicuatro.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagenueve %>" data-zoom-image="<%= prodtreintaicuatro.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagediez %>" data-zoom-image="<%= prodtreintaicuatro.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodtreintaicuatro.imageonce %>" data-zoom-image="<%= prodtreintaicuatro.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagedoce %>" data-zoom-image="<%= prodtreintaicuatro.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodtreintaicuatro.imageocho %>" data-zoom-image="<%= prodtreintaicuatro.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagenueve %>" data-zoom-image="<%= prodtreintaicuatro.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagediez %>" data-zoom-image="<%= prodtreintaicuatro.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodtreintaicuatro.imageonce %>" data-zoom-image="<%= prodtreintaicuatro.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagedoce %>" data-zoom-image="<%= prodtreintaicuatro.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagetrece %>" data-zoom-image="<%= prodtreintaicuatro.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagecatorce %>" data-zoom-image="<%= prodtreintaicuatro.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagequince %>" data-zoom-image="<%= prodtreintaicuatro.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagedieciseis %>" data-zoom-image="<%= prodtreintaicuatro.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagediecisiete %>" data-zoom-image="<%= prodtreintaicuatro.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagedieciocho %>" data-zoom-image="<%= prodtreintaicuatro.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagediecinueve %>" data-zoom-image="<%= prodtreintaicuatro.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicuatro.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintaicuatro.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaicuatro.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaicuatro.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaicuatro.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaicuatro.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaicuatro.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaicuatro.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodtreintaicuatro/tallecolor/<%= prodtreintaicuatro._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodtreintaicuatro.talleuno %>"><%= prodtreintaicuatro.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodtreintaicuatro.coloruno %>"><%= prodtreintaicuatro.coloruno %></option>
                                  <option value="<%= prodtreintaicuatro.colordos %>"><%= prodtreintaicuatro.colordos %></option>
                                  <option value="<%= prodtreintaicuatro.colortres %>"><%= prodtreintaicuatro.colortres %></option>
                                  <option value="<%= prodtreintaicuatro.colorcuatro %>"><%= prodtreintaicuatro.colorcuatro %></option>
                                  <option value="<%= prodtreintaicuatro.colorcinco %>"><%= prodtreintaicuatro.colorcinco %></option>
                                  <option value="<%= prodtreintaicuatro.colorseis %>"><%= prodtreintaicuatro.colorseis %></option>
                                  <option value="<%= prodtreintaicuatro.colorsiete %>"><%= prodtreintaicuatro.colorsiete %></option>
                                  <option value="<%= prodtreintaicuatro.colorocho %>"><%= prodtreintaicuatro.colorocho %></option>
                                  <option value="<%= prodtreintaicuatro.colornueve %>"><%= prodtreintaicuatro.colornueve %></option>
                                  <option value="<%= prodtreintaicuatro.colordiez %>"><%= prodtreintaicuatro.colordiez %></option>
                                  <option value="<%= prodtreintaicuatro.coloronce %>"><%= prodtreintaicuatro.coloronce %></option>
                                  <option value="<%= prodtreintaicuatro.colordoce %>"><%= prodtreintaicuatro.colordoce %></option>
                                  <option value="<%= prodtreintaicuatro.colortrece %>"><%= prodtreintaicuatro.colortrece %></option>
                                  <option value="<%= prodtreintaicuatro.colorcatorce %>"><%= prodtreintaicuatro.colorcatorce %></option>
                                  <option value="<%= prodtreintaicuatro.colorquince %>"><%= prodtreintaicuatro.colorquince %></option>
                                  <option value="<%= prodtreintaicuatro.colordieciseis %>"><%= prodtreintaicuatro.colordieciseis %></option>
                                  <option value="<%= prodtreintaicuatro.colordiecisiete %>"><%= prodtreintaicuatro.colordiecisiete %></option>
                                  <option value="<%= prodtreintaicuatro.colordieciocho %>"><%= prodtreintaicuatro.colordieciocho %></option>
                                  <option value="<%= prodtreintaicuatro.colordiecinueve %>"><%= prodtreintaicuatro.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      