<% include ../partials/_header %>













 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/produno/tallecolor/<%= produno._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= produno.talleuno %>"><%= produno.talleuno %></option>
                                  <option value="<%= produno.talledos %>"><%= produno.talledos %></option>
                                  <option value="<%= produno.talletres %>"><%= produno.talletres %></option>
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= produno.coloruno %>"><%= produno.color %></option>
                                  <option value="<%= produno.colordos %>"><%= produno.colordos %></option>
                                  <option value="<%= produno.colortres %>"><%= produno.colortres %></option>
                                  <option value="<%= produno.colorcuatro %>"><%= produno.colorcuatro %></option>
                                  <option value="<%= produno.colorcinco %>"><%= produno.colorcinco %></option>
                                  <option value="<%= produno.colorseis %>"><%= produno.colorseis %></option>
                                  <option value="<%= produno.colorsiete %>"><%= produno.colorsiete %></option>
                                  <option value="<%= produno.colorocho %>"><%= produno.colorocho %></option>
                                  <option value="<%= produno.colornueve %>"><%= produno.colornueve %></option>
                                  <option value="<%= produno.colordiez %>"><%= produno.colordiez %></option>
                                  <option value="<%= produno.coloronce %>"><%= produno.coloronce %></option>
                                  <option value="<%= produno.colordoce %>"><%= produno.colordoce %></option>
                                  <option value="<%= produno.colortrece %>"><%= produno.colortrece %></option>
                                  <option value="<%= produno.colorcatorce %>"><%= produno.colorcatorce %></option>
                                  <option value="<%= produno.colorquince %>"><%= produno.colorquince %></option>
                                  <option value="<%= produno.colordieciseis %>"><%= produno.colordieciseis %></option>
                                  <option value="<%= produno.colordiecisiete %>"><%= produno.colordiecisiete %></option>
                                  <option value="<%= produno.colordieciocho %>"><%= produno.colordieciocho %></option>
                                  <option value="<%= produno.colordiecinueve %>"><%= produno.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">
                        <button style="background-color:blue; color:aliceblue">    
                            <label class="size__radio-label" for="xs" style="background-color:blue;  color:aliceblue">
                                 Elegir color
                        </label></button> 
                    </div>
                </div>
            </div>

       

                </form>


  </div>
</div>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= produno.image %>">
                                                 
                                                <img class="u-img-fluid" src="<%= produno.image %>" data-zoom-image="<%= produno.image %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= produno.image %>">
                                                 
                                                <img class="u-img-fluid" src="<%= produno.imagedos %>" data-zoom-image="<%= produno.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= produno.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= produno.imagetres %>" data-zoom-image="<%= produno.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= produno.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= produno.imagecuatro %>" data-zoom-image="<%= produno.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= produno.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= produno.imagecinco %>" data-zoom-image="<%= produno.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= produno.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= produno.imageseis %>" data-zoom-image="<%= produno.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= produno.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= produno.imagesiete %>" data-zoom-image="<%= produno.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= produno.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= produno.imageocho %>" data-zoom-image="<%= produno.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= produno.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= produno.imagenueve %>" data-zoom-image="<%= produno.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= produno.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= produno.imagediez %>" data-zoom-image="<%= produno.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= produno.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= produno.imageonce %>" data-zoom-image="<%= produno.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= produno.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= produno.imagedoce %>" data-zoom-image="<%= produno.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= produno.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= produno.imageocho %>" data-zoom-image="<%= produno.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= produno.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= produno.imagenueve %>" data-zoom-image="<%= produno.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= produno.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= produno.imagediez %>" data-zoom-image="<%= produno.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= produno.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= produno.imageonce %>" data-zoom-image="<%= produno.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= produno.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= produno.imagedoce %>" data-zoom-image="<%= produno.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= produno.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= produno.imagetrece %>" data-zoom-image="<%= produno.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= produno.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= produno.imagecatorce %>" data-zoom-image="<%= produno.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= produno.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= produno.imagequince %>" data-zoom-image="<%= produno.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= produno.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= produno.imagedieciseis %>" data-zoom-image="<%= produno.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= produno.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= produno.imagediecisiete %>" data-zoom-image="<%= produno.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= produno.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= produno.imagedieciocho %>" data-zoom-image="<%= produno.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= produno.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= produno.imagediecinueve %>" data-zoom-image="<%= produno.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= produno.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= produno.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= produno.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= produno.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= produno.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= produno.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= produno.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= produno.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= produno.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= produno.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= produno.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= produno.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= produno.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= produno.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= produno.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= produno.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= produno.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= produno.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= produno.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= produno.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= produno.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= produno.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= produno.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= produno.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= produno.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= produno.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= produno.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= produno.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->



            

      <% include ../partials/_footer %>
      


      