<% include ../partials/_header %>

 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/produno/tallecolor/<%= produno._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= produno.talleuno %>"><%= produno.talleuno %></option>
                                  <option value="<%= produno.talledos %>"><%= produno.talledos %></option>
                                  <option value="<%= produno.talletres %>"><%= produno.talletres %></option>
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= produno.coloruno %>"><%= produno.coloruno %></option>
                                  <option value="<%= produno.colordos %>"><%= produno.colordos %></option>
                                  <option value="<%= produno.colortres %>"><%= produno.colortres %></option>
                                  <option value="<%= produno.colorcuatro %>"><%= produno.colorcuatro %></option>
                                  <option value="<%= produno.colorcinco %>"><%= produno.colorcinco %></option>
                                  <option value="<%= produno.colorseis %>"><%= produno.colorseis %></option>
                                  <option value="<%= produno.colorsiete %>"><%= produno.colorsiete %></option>
                                  <option value="<%= produno.colorocho %>"><%= produno.colorocho %></option>
                                  <option value="<%= produno.colornueve %>"><%= produno.colornueve %></option>
                                  <option value="<%= produno.colordiez %>"><%= produno.colordiez %></option>
                                  <option value="<%= produno.coloronce %>"><%= produno.coloronce %></option>
                                  <option value="<%= produno.colordoce %>"><%= produno.colordoce %></option>
                                  <option value="<%= produno.colortrece %>"><%= produno.colortrece %></option>
                                  <option value="<%= produno.colorcatorce %>"><%= produno.colorcatorce %></option>
                                  <option value="<%= produno.colorquince %>"><%= produno.colorquince %></option>
                                  <option value="<%= produno.colordieciseis %>"><%= produno.colordieciseis %></option>
                                  <option value="<%= produno.colordiecisiete %>"><%= produno.colordiecisiete %></option>
                                  <option value="<%= produno.colordieciocho %>"><%= produno.colordieciocho %></option>
                                  <option value="<%= produno.colordiecinueve %>"><%= produno.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                    <div class=" row">
                        <div class="col-md-6">
                            <button class="btn btn--e-brand-b-2 mt-5">Enviar</button>

                          </div>
                        </div>
                       </div>

                </form>


            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
  </div>
</div>




            

      <% include ../partials/_footer %>
      


      