<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.image %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodcincuenticuatro.image %>" data-zoom-image="<%= prodcincuenticuatro.image %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.image %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagedos %>" data-zoom-image="<%= prodcincuenticuatro.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagetres %>" data-zoom-image="<%= prodcincuenticuatro.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagecuatro %>" data-zoom-image="<%= prodcincuenticuatro.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagecinco %>" data-zoom-image="<%= prodcincuenticuatro.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodcincuenticuatro.imageseis %>" data-zoom-image="<%= prodcincuenticuatro.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagesiete %>" data-zoom-image="<%= prodcincuenticuatro.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodcincuenticuatro.imageocho %>" data-zoom-image="<%= prodcincuenticuatro.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagenueve %>" data-zoom-image="<%= prodcincuenticuatro.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagediez %>" data-zoom-image="<%= prodcincuenticuatro.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodcincuenticuatro.imageonce %>" data-zoom-image="<%= prodcincuenticuatro.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagedoce %>" data-zoom-image="<%= prodcincuenticuatro.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodcincuenticuatro.imageocho %>" data-zoom-image="<%= prodcincuenticuatro.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagenueve %>" data-zoom-image="<%= prodcincuenticuatro.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagediez %>" data-zoom-image="<%= prodcincuenticuatro.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodcincuenticuatro.imageonce %>" data-zoom-image="<%= prodcincuenticuatro.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagedoce %>" data-zoom-image="<%= prodcincuenticuatro.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagetrece %>" data-zoom-image="<%= prodcincuenticuatro.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagecatorce %>" data-zoom-image="<%= prodcincuenticuatro.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagequince %>" data-zoom-image="<%= prodcincuenticuatro.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagedieciseis %>" data-zoom-image="<%= prodcincuenticuatro.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagediecisiete %>" data-zoom-image="<%= prodcincuenticuatro.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagedieciocho %>" data-zoom-image="<%= prodcincuenticuatro.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagediecinueve %>" data-zoom-image="<%= prodcincuenticuatro.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticuatro.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcincuenticuatro.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenticuatro.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuenticuatro.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcincuenticuatro.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcincuenticuatro.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcincuenticuatro.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenticuatro.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodcincuenticuatro/tallecolor/<%= prodcincuenticuatro._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodcincuenticuatro.talleuno %>"><%= prodcincuenticuatro.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodcincuenticuatro.coloruno %>"><%= prodcincuenticuatro.coloruno %></option>
                                  <option value="<%= prodcincuenticuatro.colordos %>"><%= prodcincuenticuatro.colordos %></option>
                                  <option value="<%= prodcincuenticuatro.colortres %>"><%= prodcincuenticuatro.colortres %></option>
                                  <option value="<%= prodcincuenticuatro.colorcuatro %>"><%= prodcincuenticuatro.colorcuatro %></option>
                                  <option value="<%= prodcincuenticuatro.colorcinco %>"><%= prodcincuenticuatro.colorcinco %></option>
                                  <option value="<%= prodcincuenticuatro.colorseis %>"><%= prodcincuenticuatro.colorseis %></option>
                                  <option value="<%= prodcincuenticuatro.colorsiete %>"><%= prodcincuenticuatro.colorsiete %></option>
                                  <option value="<%= prodcincuenticuatro.colorocho %>"><%= prodcincuenticuatro.colorocho %></option>
                                  <option value="<%= prodcincuenticuatro.colornueve %>"><%= prodcincuenticuatro.colornueve %></option>
                                  <option value="<%= prodcincuenticuatro.colordiez %>"><%= prodcincuenticuatro.colordiez %></option>
                                  <option value="<%= prodcincuenticuatro.coloronce %>"><%= prodcincuenticuatro.coloronce %></option>
                                  <option value="<%= prodcincuenticuatro.colordoce %>"><%= prodcincuenticuatro.colordoce %></option>
                                  <option value="<%= prodcincuenticuatro.colortrece %>"><%= prodcincuenticuatro.colortrece %></option>
                                  <option value="<%= prodcincuenticuatro.colorcatorce %>"><%= prodcincuenticuatro.colorcatorce %></option>
                                  <option value="<%= prodcincuenticuatro.colorquince %>"><%= prodcincuenticuatro.colorquince %></option>
                                  <option value="<%= prodcincuenticuatro.colordieciseis %>"><%= prodcincuenticuatro.colordieciseis %></option>
                                  <option value="<%= prodcincuenticuatro.colordiecisiete %>"><%= prodcincuenticuatro.colordiecisiete %></option>
                                  <option value="<%= prodcincuenticuatro.colordieciocho %>"><%= prodcincuenticuatro.colordieciocho %></option>
                                  <option value="<%= prodcincuenticuatro.colordiecinueve %>"><%= prodcincuenticuatro.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      