<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodcincuenticinco.imageuno %>" data-zoom-image="<%= prodcincuenticinco.imageuno %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodcincuenticinco.imagedos %>" data-zoom-image="<%= prodcincuenticinco.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodcincuenticinco.imagetres %>" data-zoom-image="<%= prodcincuenticinco.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodcincuenticinco.imagecuatro %>" data-zoom-image="<%= prodcincuenticinco.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodcincuenticinco.imagecinco %>" data-zoom-image="<%= prodcincuenticinco.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodcincuenticinco.imageseis %>" data-zoom-image="<%= prodcincuenticinco.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodcincuenticinco.imagesiete %>" data-zoom-image="<%= prodcincuenticinco.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodcincuenticinco.imageocho %>" data-zoom-image="<%= prodcincuenticinco.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodcincuenticinco.imagenueve %>" data-zoom-image="<%= prodcincuenticinco.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodcincuenticinco.imagediez %>" data-zoom-image="<%= prodcincuenticinco.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodcincuenticinco.imageonce %>" data-zoom-image="<%= prodcincuenticinco.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodcincuenticinco.imagedoce %>" data-zoom-image="<%= prodcincuenticinco.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodcincuenticinco.imageocho %>" data-zoom-image="<%= prodcincuenticinco.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodcincuenticinco.imagenueve %>" data-zoom-image="<%= prodcincuenticinco.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodcincuenticinco.imagediez %>" data-zoom-image="<%= prodcincuenticinco.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodcincuenticinco.imageonce %>" data-zoom-image="<%= prodcincuenticinco.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodcincuenticinco.imagedoce %>" data-zoom-image="<%= prodcincuenticinco.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodcincuenticinco.imagetrece %>" data-zoom-image="<%= prodcincuenticinco.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodcincuenticinco.imagecatorce %>" data-zoom-image="<%= prodcincuenticinco.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodcincuenticinco.imagequince %>" data-zoom-image="<%= prodcincuenticinco.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodcincuenticinco.imagedieciseis %>" data-zoom-image="<%= prodcincuenticinco.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodcincuenticinco.imagediecisiete %>" data-zoom-image="<%= prodcincuenticinco.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodcincuenticinco.imagedieciocho %>" data-zoom-image="<%= prodcincuenticinco.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodcincuenticinco.imagediecinueve %>" data-zoom-image="<%= prodcincuenticinco.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenticinco.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcincuenticinco.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcincuenticinco.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcincuenticinco.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcincuenticinco.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenticinco.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenticinco.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcincuenticinco.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuenticinco.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuenticinco.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenticinco.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcincuenticinco.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuenticinco.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuenticinco.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenticinco.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcincuenticinco.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuenticinco.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuenticinco.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenticinco.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcincuenticinco.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuenticinco.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuenticinco.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcincuenticinco.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenticinco.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenticinco.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcincuenticinco.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenticinco.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenticinco.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodcincuenticinco/tallecolor/<%= prodcincuenticinco._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodcincuenticinco.talleuno %>"><%= prodcincuenticinco.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodcincuenticinco.coloruno %>"><%= prodcincuenticinco.coloruno %></option>
                                  <option value="<%= prodcincuenticinco.colordos %>"><%= prodcincuenticinco.colordos %></option>
                                  <option value="<%= prodcincuenticinco.colortres %>"><%= prodcincuenticinco.colortres %></option>
                                  <option value="<%= prodcincuenticinco.colorcuatro %>"><%= prodcincuenticinco.colorcuatro %></option>
                                  <option value="<%= prodcincuenticinco.colorcinco %>"><%= prodcincuenticinco.colorcinco %></option>
                                  <option value="<%= prodcincuenticinco.colorseis %>"><%= prodcincuenticinco.colorseis %></option>
                                  <option value="<%= prodcincuenticinco.colorsiete %>"><%= prodcincuenticinco.colorsiete %></option>
                                  <option value="<%= prodcincuenticinco.colorocho %>"><%= prodcincuenticinco.colorocho %></option>
                                  <option value="<%= prodcincuenticinco.colornueve %>"><%= prodcincuenticinco.colornueve %></option>
                                  <option value="<%= prodcincuenticinco.colordiez %>"><%= prodcincuenticinco.colordiez %></option>
                                  <option value="<%= prodcincuenticinco.coloronce %>"><%= prodcincuenticinco.coloronce %></option>
                                  <option value="<%= prodcincuenticinco.colordoce %>"><%= prodcincuenticinco.colordoce %></option>
                                  <option value="<%= prodcincuenticinco.colortrece %>"><%= prodcincuenticinco.colortrece %></option>
                                  <option value="<%= prodcincuenticinco.colorcatorce %>"><%= prodcincuenticinco.colorcatorce %></option>
                                  <option value="<%= prodcincuenticinco.colorquince %>"><%= prodcincuenticinco.colorquince %></option>
                                  <option value="<%= prodcincuenticinco.colordieciseis %>"><%= prodcincuenticinco.colordieciseis %></option>
                                  <option value="<%= prodcincuenticinco.colordiecisiete %>"><%= prodcincuenticinco.colordiecisiete %></option>
                                  <option value="<%= prodcincuenticinco.colordieciocho %>"><%= prodcincuenticinco.colordieciocho %></option>
                                  <option value="<%= prodcincuenticinco.colordiecinueve %>"><%= prodcincuenticinco.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      