<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodtrece.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodtrece.imageuno %>" data-zoom-image="<%= prodtrece.imageuno %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtrece.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodtrece.imagedos %>" data-zoom-image="<%= prodtrece.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtrece.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodtrece.imagetres %>" data-zoom-image="<%= prodtrece.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtrece.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodtrece.imagecuatro %>" data-zoom-image="<%= prodtrece.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtrece.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodtrece.imagecinco %>" data-zoom-image="<%= prodtrece.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtrece.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodtrece.imageseis %>" data-zoom-image="<%= prodtrece.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtrece.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodtrece.imagesiete %>" data-zoom-image="<%= prodtrece.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodtrece.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodtrece.imageocho %>" data-zoom-image="<%= prodtrece.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtrece.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodtrece.imagenueve %>" data-zoom-image="<%= prodtrece.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtrece.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodtrece.imagediez %>" data-zoom-image="<%= prodtrece.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtrece.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodtrece.imageonce %>" data-zoom-image="<%= prodtrece.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtrece.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodtrece.imagedoce %>" data-zoom-image="<%= prodtrece.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtrece.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodtrece.imageocho %>" data-zoom-image="<%= prodtrece.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtrece.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodtrece.imagenueve %>" data-zoom-image="<%= prodtrece.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtrece.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodtrece.imagediez %>" data-zoom-image="<%= prodtrece.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtrece.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodtrece.imageonce %>" data-zoom-image="<%= prodtrece.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtrece.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodtrece.imagedoce %>" data-zoom-image="<%= prodtrece.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtrece.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodtrece.imagetrece %>" data-zoom-image="<%= prodtrece.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtrece.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodtrece.imagecatorce %>" data-zoom-image="<%= prodtrece.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtrece.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodtrece.imagequince %>" data-zoom-image="<%= prodtrece.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtrece.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodtrece.imagedieciseis %>" data-zoom-image="<%= prodtrece.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtrece.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodtrece.imagediecisiete %>" data-zoom-image="<%= prodtrece.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtrece.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodtrece.imagedieciocho %>" data-zoom-image="<%= prodtrece.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtrece.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodtrece.imagediecinueve %>" data-zoom-image="<%= prodtrece.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtrece.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtrece.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtrece.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtrece.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtrece.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtrece.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtrece.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtrece.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtrece.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtrece.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtrece.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtrece.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtrece.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtrece.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtrece.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtrece.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtrece.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtrece.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtrece.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtrece.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtrece.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtrece.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtrece.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtrece.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtrece.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtrece.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtrece.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtrece.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodtrece/tallecolor/<%= prodtrece._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodtrece.talleuno %>"><%= prodtrece.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodtrece.coloruno %>"><%= prodtrece.coloruno %></option>
                                  <option value="<%= prodtrece.colordos %>"><%= prodtrece.colordos %></option>
                                  <option value="<%= prodtrece.colortres %>"><%= prodtrece.colortres %></option>
                                  <option value="<%= prodtrece.colorcuatro %>"><%= prodtrece.colorcuatro %></option>
                                  <option value="<%= prodtrece.colorcinco %>"><%= prodtrece.colorcinco %></option>
                                  <option value="<%= prodtrece.colorseis %>"><%= prodtrece.colorseis %></option>
                                  <option value="<%= prodtrece.colorsiete %>"><%= prodtrece.colorsiete %></option>
                                  <option value="<%= prodtrece.colorocho %>"><%= prodtrece.colorocho %></option>
                                  <option value="<%= prodtrece.colornueve %>"><%= prodtrece.colornueve %></option>
                                  <option value="<%= prodtrece.colordiez %>"><%= prodtrece.colordiez %></option>
                                  <option value="<%= prodtrece.coloronce %>"><%= prodtrece.coloronce %></option>
                                  <option value="<%= prodtrece.colordoce %>"><%= prodtrece.colordoce %></option>
                                  <option value="<%= prodtrece.colortrece %>"><%= prodtrece.colortrece %></option>
                                  <option value="<%= prodtrece.colorcatorce %>"><%= prodtrece.colorcatorce %></option>
                                  <option value="<%= prodtrece.colorquince %>"><%= prodtrece.colorquince %></option>
                                  <option value="<%= prodtrece.colordieciseis %>"><%= prodtrece.colordieciseis %></option>
                                  <option value="<%= prodtrece.colordiecisiete %>"><%= prodtrece.colordiecisiete %></option>
                                  <option value="<%= prodtrece.colordieciocho %>"><%= prodtrece.colordieciocho %></option>
                                  <option value="<%= prodtrece.colordiecinueve %>"><%= prodtrece.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      