<% include ../partials/_header %>

 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodquince/tallecolor/<%= prodquince._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodquince.talleuno %>"><%= prodquince.talleuno %></option>
                                  <option value="<%= prodquince.talledos %>"><%= prodquince.talledos %></option>
                                  <option value="<%= prodquince.talletres %>"><%= prodquince.talletres %></option>
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodquince.coloruno %>"><%= prodquince.coloruno %></option>
                                  <option value="<%= prodquince.colordos %>"><%= prodquince.colordos %></option>
                                  <option value="<%= prodquince.colortres %>"><%= prodquince.colortres %></option>
                                  <option value="<%= prodquince.colorcuatro %>"><%= prodquince.colorcuatro %></option>
                                  <option value="<%= prodquince.colorcinco %>"><%= prodquince.colorcinco %></option>
                                  <option value="<%= prodquince.colorseis %>"><%= prodquince.colorseis %></option>
                                  <option value="<%= prodquince.colorsiete %>"><%= prodquince.colorsiete %></option>
                                  <option value="<%= prodquince.colorocho %>"><%= prodquince.colorocho %></option>
                                  <option value="<%= prodquince.colornueve %>"><%= prodquince.colornueve %></option>
                                  <option value="<%= prodquince.colordiez %>"><%= prodquince.colordiez %></option>
                                  <option value="<%= prodquince.coloronce %>"><%= prodquince.coloronce %></option>
                                  <option value="<%= prodquince.colordoce %>"><%= prodquince.colordoce %></option>
                                  <option value="<%= prodquince.colortrece %>"><%= prodquince.colortrece %></option>
                                  <option value="<%= prodquince.colorcatorce %>"><%= prodquince.colorcatorce %></option>
                                  <option value="<%= prodquince.colorquince %>"><%= prodquince.colorquince %></option>
                                  <option value="<%= prodquince.colordieciseis %>"><%= prodquince.colordieciseis %></option>
                                  <option value="<%= prodquince.colordiecisiete %>"><%= prodquince.colordiecisiete %></option>
                                  <option value="<%= prodquince.colordieciocho %>"><%= prodquince.colordieciocho %></option>
                                  <option value="<%= prodquince.colordiecinueve %>"><%= prodquince.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                    <div class=" row">
                        <div class="col-md-6">
                            <button class="btn btn--e-brand-b-2 mt-5">Enviar</button>

                          </div>
                        </div>
                       </div>

                </form>


            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
  </div>
</div>




            

      <% include ../partials/_footer %>
      
