<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodcuarentidos.imageuno %>" data-zoom-image="<%= prodcuarentidos.imageuno %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodcuarentidos.imagedos %>" data-zoom-image="<%= prodcuarentidos.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuarentidos.imagetres %>" data-zoom-image="<%= prodcuarentidos.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuarentidos.imagecuatro %>" data-zoom-image="<%= prodcuarentidos.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuarentidos.imagecinco %>" data-zoom-image="<%= prodcuarentidos.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuarentidos.imageseis %>" data-zoom-image="<%= prodcuarentidos.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodcuarentidos.imagesiete %>" data-zoom-image="<%= prodcuarentidos.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodcuarentidos.imageocho %>" data-zoom-image="<%= prodcuarentidos.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodcuarentidos.imagenueve %>" data-zoom-image="<%= prodcuarentidos.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodcuarentidos.imagediez %>" data-zoom-image="<%= prodcuarentidos.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodcuarentidos.imageonce %>" data-zoom-image="<%= prodcuarentidos.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodcuarentidos.imagedoce %>" data-zoom-image="<%= prodcuarentidos.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodcuarentidos.imageocho %>" data-zoom-image="<%= prodcuarentidos.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodcuarentidos.imagenueve %>" data-zoom-image="<%= prodcuarentidos.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodcuarentidos.imagediez %>" data-zoom-image="<%= prodcuarentidos.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodcuarentidos.imageonce %>" data-zoom-image="<%= prodcuarentidos.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodcuarentidos.imagedoce %>" data-zoom-image="<%= prodcuarentidos.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodcuarentidos.imagetrece %>" data-zoom-image="<%= prodcuarentidos.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodcuarentidos.imagecatorce %>" data-zoom-image="<%= prodcuarentidos.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodcuarentidos.imagequince %>" data-zoom-image="<%= prodcuarentidos.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodcuarentidos.imagedieciseis %>" data-zoom-image="<%= prodcuarentidos.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodcuarentidos.imagediecisiete %>" data-zoom-image="<%= prodcuarentidos.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodcuarentidos.imagedieciocho %>" data-zoom-image="<%= prodcuarentidos.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodcuarentidos.imagediecinueve %>" data-zoom-image="<%= prodcuarentidos.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentidos.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcuarentidos.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcuarentidos.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcuarentidos.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcuarentidos.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentidos.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentidos.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuarentidos.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentidos.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentidos.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentidos.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuarentidos.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentidos.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentidos.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentidos.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuarentidos.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentidos.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentidos.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentidos.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuarentidos.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentidos.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentidos.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcuarentidos.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentidos.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentidos.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcuarentidos.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentidos.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentidos.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodcuarentidos/tallecolor/<%= prodcuarentidos._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodcuarentidos.talleuno %>"><%= prodcuarentidos.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodcuarentidos.coloruno %>"><%= prodcuarentidos.coloruno %></option>
                                  <option value="<%= prodcuarentidos.colordos %>"><%= prodcuarentidos.colordos %></option>
                                  <option value="<%= prodcuarentidos.colortres %>"><%= prodcuarentidos.colortres %></option>
                                  <option value="<%= prodcuarentidos.colorcuatro %>"><%= prodcuarentidos.colorcuatro %></option>
                                  <option value="<%= prodcuarentidos.colorcinco %>"><%= prodcuarentidos.colorcinco %></option>
                                  <option value="<%= prodcuarentidos.colorseis %>"><%= prodcuarentidos.colorseis %></option>
                                  <option value="<%= prodcuarentidos.colorsiete %>"><%= prodcuarentidos.colorsiete %></option>
                                  <option value="<%= prodcuarentidos.colorocho %>"><%= prodcuarentidos.colorocho %></option>
                                  <option value="<%= prodcuarentidos.colornueve %>"><%= prodcuarentidos.colornueve %></option>
                                  <option value="<%= prodcuarentidos.colordiez %>"><%= prodcuarentidos.colordiez %></option>
                                  <option value="<%= prodcuarentidos.coloronce %>"><%= prodcuarentidos.coloronce %></option>
                                  <option value="<%= prodcuarentidos.colordoce %>"><%= prodcuarentidos.colordoce %></option>
                                  <option value="<%= prodcuarentidos.colortrece %>"><%= prodcuarentidos.colortrece %></option>
                                  <option value="<%= prodcuarentidos.colorcatorce %>"><%= prodcuarentidos.colorcatorce %></option>
                                  <option value="<%= prodcuarentidos.colorquince %>"><%= prodcuarentidos.colorquince %></option>
                                  <option value="<%= prodcuarentidos.colordieciseis %>"><%= prodcuarentidos.colordieciseis %></option>
                                  <option value="<%= prodcuarentidos.colordiecisiete %>"><%= prodcuarentidos.colordiecisiete %></option>
                                  <option value="<%= prodcuarentidos.colordieciocho %>"><%= prodcuarentidos.colordieciocho %></option>
                                  <option value="<%= prodcuarentidos.colordiecinueve %>"><%= prodcuarentidos.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      