<% include ../partials/_header %>
        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= proddiecisiete.imageuno %>" data-zoom-image="<%= proddiecisiete.imageuno %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= proddiecisiete.imagedos %>" data-zoom-image="<%= proddiecisiete.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= proddiecisiete.imagetres %>" data-zoom-image="<%= proddiecisiete.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= proddiecisiete.imagecuatro %>" data-zoom-image="<%= proddiecisiete.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= proddiecisiete.imagecinco %>" data-zoom-image="<%= proddiecisiete.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= proddiecisiete.imageseis %>" data-zoom-image="<%= proddiecisiete.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= proddiecisiete.imagesiete %>" data-zoom-image="<%= proddiecisiete.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= proddiecisiete.imageocho %>" data-zoom-image="<%= proddiecisiete.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= proddiecisiete.imagenueve %>" data-zoom-image="<%= proddiecisiete.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= proddiecisiete.imagediez %>" data-zoom-image="<%= proddiecisiete.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= proddiecisiete.imageonce %>" data-zoom-image="<%= proddiecisiete.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= proddiecisiete.imagedoce %>" data-zoom-image="<%= proddiecisiete.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= proddiecisiete.imageocho %>" data-zoom-image="<%= proddiecisiete.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= proddiecisiete.imagenueve %>" data-zoom-image="<%= proddiecisiete.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= proddiecisiete.imagediez %>" data-zoom-image="<%= proddiecisiete.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= proddiecisiete.imageonce %>" data-zoom-image="<%= proddiecisiete.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= proddiecisiete.imagedoce %>" data-zoom-image="<%= proddiecisiete.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= proddiecisiete.imagetrece %>" data-zoom-image="<%= proddiecisiete.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= proddiecisiete.imagecatorce %>" data-zoom-image="<%= proddiecisiete.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= proddiecisiete.imagequince %>" data-zoom-image="<%= proddiecisiete.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= proddiecisiete.imagedieciseis %>" data-zoom-image="<%= proddiecisiete.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= proddiecisiete.imagediecisiete %>" data-zoom-image="<%= proddiecisiete.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= proddiecisiete.imagedieciocho %>" data-zoom-image="<%= proddiecisiete.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= proddiecisiete.imagediecinueve %>" data-zoom-image="<%= proddiecisiete.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddiecisiete.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= proddiecisiete.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= proddiecisiete.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= proddiecisiete.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= proddiecisiete.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= proddiecisiete.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= proddiecisiete.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= proddiecisiete.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= proddiecisiete.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= proddiecisiete.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= proddiecisiete.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= proddiecisiete.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= proddiecisiete.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= proddiecisiete.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= proddiecisiete.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= proddiecisiete.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= proddiecisiete.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= proddiecisiete.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= proddiecisiete.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= proddiecisiete.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= proddiecisiete.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= proddiecisiete.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= proddiecisiete.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= proddiecisiete.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= proddiecisiete.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= proddiecisiete.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= proddiecisiete.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= proddiecisiete.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/proddiecisiete/tallecolor/<%= proddiecisiete._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= proddiecisiete.talleuno %>"><%= proddiecisiete.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= proddiecisiete.coloruno %>"><%= proddiecisiete.coloruno %></option>
                                  <option value="<%= proddiecisiete.colordos %>"><%= proddiecisiete.colordos %></option>
                                  <option value="<%= proddiecisiete.colortres %>"><%= proddiecisiete.colortres %></option>
                                  <option value="<%= proddiecisiete.colorcuatro %>"><%= proddiecisiete.colorcuatro %></option>
                                  <option value="<%= proddiecisiete.colorcinco %>"><%= proddiecisiete.colorcinco %></option>
                                  <option value="<%= proddiecisiete.colorseis %>"><%= proddiecisiete.colorseis %></option>
                                  <option value="<%= proddiecisiete.colorsiete %>"><%= proddiecisiete.colorsiete %></option>
                                  <option value="<%= proddiecisiete.colorocho %>"><%= proddiecisiete.colorocho %></option>
                                  <option value="<%= proddiecisiete.colornueve %>"><%= proddiecisiete.colornueve %></option>
                                  <option value="<%= proddiecisiete.colordiez %>"><%= proddiecisiete.colordiez %></option>
                                  <option value="<%= proddiecisiete.coloronce %>"><%= proddiecisiete.coloronce %></option>
                                  <option value="<%= proddiecisiete.colordoce %>"><%= proddiecisiete.colordoce %></option>
                                  <option value="<%= proddiecisiete.colortrece %>"><%= proddiecisiete.colortrece %></option>
                                  <option value="<%= proddiecisiete.colorcatorce %>"><%= proddiecisiete.colorcatorce %></option>
                                  <option value="<%= proddiecisiete.colorquince %>"><%= proddiecisiete.colorquince %></option>
                                  <option value="<%= proddiecisiete.colordieciseis %>"><%= proddiecisiete.colordieciseis %></option>
                                  <option value="<%= proddiecisiete.colordiecisiete %>"><%= proddiecisiete.colordiecisiete %></option>
                                  <option value="<%= proddiecisiete.colordieciocho %>"><%= proddiecisiete.colordieciocho %></option>
                                  <option value="<%= proddiecisiete.colordiecinueve %>"><%= proddiecisiete.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      