<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom cincuenta======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.image %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodcincuenta.image %>" data-zoom-image="<%= prodcincuenta.image %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.image %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodcincuenta.imagedos %>" data-zoom-image="<%= prodcincuenta.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodcincuenta.imagetres %>" data-zoom-image="<%= prodcincuenta.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodcincuenta.imagecuatro %>" data-zoom-image="<%= prodcincuenta.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodcincuenta.imagecinco %>" data-zoom-image="<%= prodcincuenta.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodcincuenta.imageseis %>" data-zoom-image="<%= prodcincuenta.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodcincuenta.imagesiete %>" data-zoom-image="<%= prodcincuenta.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodcincuenta.imageocho %>" data-zoom-image="<%= prodcincuenta.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodcincuenta.imagenueve %>" data-zoom-image="<%= prodcincuenta.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodcincuenta.imagediez %>" data-zoom-image="<%= prodcincuenta.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodcincuenta.imageonce %>" data-zoom-image="<%= prodcincuenta.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodcincuenta.imagedoce %>" data-zoom-image="<%= prodcincuenta.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodcincuenta.imageocho %>" data-zoom-image="<%= prodcincuenta.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodcincuenta.imagenueve %>" data-zoom-image="<%= prodcincuenta.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodcincuenta.imagediez %>" data-zoom-image="<%= prodcincuenta.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodcincuenta.imageonce %>" data-zoom-image="<%= prodcincuenta.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodcincuenta.imagedoce %>" data-zoom-image="<%= prodcincuenta.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodcincuenta.imagetrece %>" data-zoom-image="<%= prodcincuenta.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodcincuenta.imagecatorce %>" data-zoom-image="<%= prodcincuenta.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodcincuenta.imagequince %>" data-zoom-image="<%= prodcincuenta.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodcincuenta.imagedieciseis %>" data-zoom-image="<%= prodcincuenta.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodcincuenta.imagediecisiete %>" data-zoom-image="<%= prodcincuenta.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodcincuenta.imagedieciocho %>" data-zoom-image="<%= prodcincuenta.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodcincuenta.imagediecinueve %>" data-zoom-image="<%= prodcincuenta.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcincuenta.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcincuenta.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcincuenta.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcincuenta.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcincuenta.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenta.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenta.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcincuenta.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuenta.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuenta.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenta.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcincuenta.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuenta.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuenta.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenta.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcincuenta.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuenta.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuenta.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenta.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcincuenta.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuenta.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcincuenta.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcincuenta.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenta.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenta.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcincuenta.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenta.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcincuenta.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodcincuenta/tallecolor/<%= prodcincuenta._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodcincuenta.talleuno %>"><%= prodcincuenta.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodcincuenta.coloruno %>"><%= prodcincuenta.coloruno %></option>
                                  <option value="<%= prodcincuenta.colordos %>"><%= prodcincuenta.colordos %></option>
                                  <option value="<%= prodcincuenta.colortres %>"><%= prodcincuenta.colortres %></option>
                                  <option value="<%= prodcincuenta.colorcuatro %>"><%= prodcincuenta.colorcuatro %></option>
                                  <option value="<%= prodcincuenta.colorcinco %>"><%= prodcincuenta.colorcinco %></option>
                                  <option value="<%= prodcincuenta.colorseis %>"><%= prodcincuenta.colorseis %></option>
                                  <option value="<%= prodcincuenta.colorsiete %>"><%= prodcincuenta.colorsiete %></option>
                                  <option value="<%= prodcincuenta.colorocho %>"><%= prodcincuenta.colorocho %></option>
                                  <option value="<%= prodcincuenta.colornueve %>"><%= prodcincuenta.colornueve %></option>
                                  <option value="<%= prodcincuenta.colordiez %>"><%= prodcincuenta.colordiez %></option>
                                  <option value="<%= prodcincuenta.coloronce %>"><%= prodcincuenta.coloronce %></option>
                                  <option value="<%= prodcincuenta.colordoce %>"><%= prodcincuenta.colordoce %></option>
                                  <option value="<%= prodcincuenta.colortrece %>"><%= prodcincuenta.colortrece %></option>
                                  <option value="<%= prodcincuenta.colorcatorce %>"><%= prodcincuenta.colorcatorce %></option>
                                  <option value="<%= prodcincuenta.colorquince %>"><%= prodcincuenta.colorquince %></option>
                                  <option value="<%= prodcincuenta.colordieciseis %>"><%= prodcincuenta.colordieciseis %></option>
                                  <option value="<%= prodcincuenta.colordiecisiete %>"><%= prodcincuenta.colordiecisiete %></option>
                                  <option value="<%= prodcincuenta.colordieciocho %>"><%= prodcincuenta.colordieciocho %></option>
                                  <option value="<%= prodcincuenta.colordiecinueve %>"><%= prodcincuenta.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      