<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Actualizar método de envío</title>
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">

    <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/dist/assets/packages/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/dist/assets/packages/owl-carousel/owl.theme.default.css">
    <link rel="stylesheet" href="/dist/assets/packages/animate/animate.css">

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/o2system-venus-ui@1.1.0/dist/venus-ui.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/dist/assets/css/theme.css">
    <link rel="canonical" href="http://localhost:4000/index.html">
</head>


<body>

        <a href="/prodcuatroindex/1" class="btn btn-primary " type="submit">
            volver a inicio
          </a>





<div class="col-md-4 mx-auto">
    <div class="card text-center">
      <div class="card-header">
        <h3>Precios de viajes en remis para Capital</h3>
      </div>
      <div class="card-body">
        <form action="/prodenviodos/new-enviodos" method="POST">
   
             <div class="form-group">
                <input type="text" name="image" class="form-control" placeholder="imagen" autofocus/>
              </div>
            
              <div class="form-group">
                <input type="text" name="title" class="form-control" placeholder="Tipo de envío" autofocus/>
              </div>

           
             
    
              <div class="form-group">
                <input type="text" name="price" class="form-control" placeholder="precio" autofocus/>
              </div>
            
                   
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>


  
<div class="col-12">
    <!-- Main Content -->
    <main class="row">
  
        <!-- Category Products -->
        <div class="col-12">
            <div class="row">
                <div class="col-12 py-3">
                    <div class="row">
                        <div class="col-12 text-center text-uppercase">
                            <h2>Precios</h2>
                        </div>
                        <form action="/searchback" method="GET">
                          <div class="form-group" >
                              <div class="input-group">
                                  <input type="text"  name="search" class="form-control border-dark" placeholder="Buscar productos" required>
                                  <div class="input-group-append">
                                      <button class="btn btn-outline-dark"><i class="fas fa-search"></i></button>
                                  </div>
                              </div>
                          </div>
                      </form>
                    </div>
                    <div class="row">
                          <% prodenviodos.forEach(function (prodenviodo) { %>
  
                        <!-- Product -->
                        <div class="col-xl-2 col-lg-3 col-sm-6 my-3">
                            <div class="col-12 bg-white text-center h-100 product-item">
                                <div class="row h-100">
                                    <div class="col-12 p-0 mb-3">
                                        <a href="/prodcuatroredirect/<%= prodenviodo.id %>">
                                            <img src="<%= prodenviodo.image %>" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="col-12 mb-3">
                                          <%= prodenviodo.title %> 
                                    </div>
                                    <div class="col-12 mb-3">
                                            <span class="product-price-old">
                                                $<%= prodenviodo.price %> 
                                            </span>
                                        
                                    </div>
                                    <a class="btn btn-danger" href="/prodenviodos/delete/<%= prodenviodo.id %>">
                                        Eliminar
                                    </a>
                                    <a class="btn btn-primary" href="/prodenviodos/edit/<%= prodenviodo.id %>">
                                        Editar
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Product -->
                        <% }) %>
  
                    </div>
                </div>
            </div>
        </div>
        <!-- Category Products -->




          </main>
          <!-- Main Content -->
        </div>
  
  

      </body>
      </html>
