<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodtreintaicinco.imageuno %>" data-zoom-image="<%= prodtreintaicinco.imageuno %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodtreintaicinco.imagedos %>" data-zoom-image="<%= prodtreintaicinco.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaicinco.imagetres %>" data-zoom-image="<%= prodtreintaicinco.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaicinco.imagecuatro %>" data-zoom-image="<%= prodtreintaicinco.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaicinco.imagecinco %>" data-zoom-image="<%= prodtreintaicinco.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaicinco.imageseis %>" data-zoom-image="<%= prodtreintaicinco.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodtreintaicinco.imagesiete %>" data-zoom-image="<%= prodtreintaicinco.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodtreintaicinco.imageocho %>" data-zoom-image="<%= prodtreintaicinco.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodtreintaicinco.imagenueve %>" data-zoom-image="<%= prodtreintaicinco.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodtreintaicinco.imagediez %>" data-zoom-image="<%= prodtreintaicinco.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodtreintaicinco.imageonce %>" data-zoom-image="<%= prodtreintaicinco.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodtreintaicinco.imagedoce %>" data-zoom-image="<%= prodtreintaicinco.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodtreintaicinco.imageocho %>" data-zoom-image="<%= prodtreintaicinco.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodtreintaicinco.imagenueve %>" data-zoom-image="<%= prodtreintaicinco.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodtreintaicinco.imagediez %>" data-zoom-image="<%= prodtreintaicinco.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodtreintaicinco.imageonce %>" data-zoom-image="<%= prodtreintaicinco.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodtreintaicinco.imagedoce %>" data-zoom-image="<%= prodtreintaicinco.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodtreintaicinco.imagetrece %>" data-zoom-image="<%= prodtreintaicinco.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodtreintaicinco.imagecatorce %>" data-zoom-image="<%= prodtreintaicinco.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodtreintaicinco.imagequince %>" data-zoom-image="<%= prodtreintaicinco.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodtreintaicinco.imagedieciseis %>" data-zoom-image="<%= prodtreintaicinco.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodtreintaicinco.imagediecisiete %>" data-zoom-image="<%= prodtreintaicinco.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodtreintaicinco.imagedieciocho %>" data-zoom-image="<%= prodtreintaicinco.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodtreintaicinco.imagediecinueve %>" data-zoom-image="<%= prodtreintaicinco.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaicinco.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintaicinco.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintaicinco.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintaicinco.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintaicinco.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaicinco.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaicinco.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaicinco.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaicinco.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaicinco.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaicinco.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaicinco.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaicinco.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaicinco.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaicinco.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaicinco.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaicinco.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaicinco.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaicinco.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaicinco.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaicinco.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaicinco.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintaicinco.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaicinco.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaicinco.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintaicinco.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaicinco.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaicinco.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodtreintaicinco/tallecolor/<%= prodtreintaicinco._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodtreintaicinco.talleuno %>"><%= prodtreintaicinco.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodtreintaicinco.coloruno %>"><%= prodtreintaicinco.coloruno %></option>
                                  <option value="<%= prodtreintaicinco.colordos %>"><%= prodtreintaicinco.colordos %></option>
                                  <option value="<%= prodtreintaicinco.colortres %>"><%= prodtreintaicinco.colortres %></option>
                                  <option value="<%= prodtreintaicinco.colorcuatro %>"><%= prodtreintaicinco.colorcuatro %></option>
                                  <option value="<%= prodtreintaicinco.colorcinco %>"><%= prodtreintaicinco.colorcinco %></option>
                                  <option value="<%= prodtreintaicinco.colorseis %>"><%= prodtreintaicinco.colorseis %></option>
                                  <option value="<%= prodtreintaicinco.colorsiete %>"><%= prodtreintaicinco.colorsiete %></option>
                                  <option value="<%= prodtreintaicinco.colorocho %>"><%= prodtreintaicinco.colorocho %></option>
                                  <option value="<%= prodtreintaicinco.colornueve %>"><%= prodtreintaicinco.colornueve %></option>
                                  <option value="<%= prodtreintaicinco.colordiez %>"><%= prodtreintaicinco.colordiez %></option>
                                  <option value="<%= prodtreintaicinco.coloronce %>"><%= prodtreintaicinco.coloronce %></option>
                                  <option value="<%= prodtreintaicinco.colordoce %>"><%= prodtreintaicinco.colordoce %></option>
                                  <option value="<%= prodtreintaicinco.colortrece %>"><%= prodtreintaicinco.colortrece %></option>
                                  <option value="<%= prodtreintaicinco.colorcatorce %>"><%= prodtreintaicinco.colorcatorce %></option>
                                  <option value="<%= prodtreintaicinco.colorquince %>"><%= prodtreintaicinco.colorquince %></option>
                                  <option value="<%= prodtreintaicinco.colordieciseis %>"><%= prodtreintaicinco.colordieciseis %></option>
                                  <option value="<%= prodtreintaicinco.colordiecisiete %>"><%= prodtreintaicinco.colordiecisiete %></option>
                                  <option value="<%= prodtreintaicinco.colordieciocho %>"><%= prodtreintaicinco.colordieciocho %></option>
                                  <option value="<%= prodtreintaicinco.colordiecinueve %>"><%= prodtreintaicinco.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      