<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodtreinta.imageuno %>" data-zoom-image="<%= prodtreinta.imageuno %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodtreinta.imagedos %>" data-zoom-image="<%= prodtreinta.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreinta.imagetres %>" data-zoom-image="<%= prodtreinta.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreinta.imagecuatro %>" data-zoom-image="<%= prodtreinta.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreinta.imagecinco %>" data-zoom-image="<%= prodtreinta.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreinta.imageseis %>" data-zoom-image="<%= prodtreinta.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodtreinta.imagesiete %>" data-zoom-image="<%= prodtreinta.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodtreinta.imageocho %>" data-zoom-image="<%= prodtreinta.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodtreinta.imagenueve %>" data-zoom-image="<%= prodtreinta.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodtreinta.imagediez %>" data-zoom-image="<%= prodtreinta.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodtreinta.imageonce %>" data-zoom-image="<%= prodtreinta.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodtreinta.imagedoce %>" data-zoom-image="<%= prodtreinta.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodtreinta.imageocho %>" data-zoom-image="<%= prodtreinta.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodtreinta.imagenueve %>" data-zoom-image="<%= prodtreinta.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodtreinta.imagediez %>" data-zoom-image="<%= prodtreinta.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodtreinta.imageonce %>" data-zoom-image="<%= prodtreinta.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodtreinta.imagedoce %>" data-zoom-image="<%= prodtreinta.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodtreinta.imagetrece %>" data-zoom-image="<%= prodtreinta.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodtreinta.imagecatorce %>" data-zoom-image="<%= prodtreinta.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodtreinta.imagequince %>" data-zoom-image="<%= prodtreinta.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodtreinta.imagedieciseis %>" data-zoom-image="<%= prodtreinta.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodtreinta.imagediecisiete %>" data-zoom-image="<%= prodtreinta.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodtreinta.imagedieciocho %>" data-zoom-image="<%= prodtreinta.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodtreinta.imagediecinueve %>" data-zoom-image="<%= prodtreinta.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreinta.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreinta.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreinta.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreinta.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreinta.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreinta.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreinta.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreinta.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreinta.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreinta.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreinta.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreinta.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreinta.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreinta.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreinta.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreinta.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreinta.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreinta.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreinta.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreinta.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreinta.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreinta.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreinta.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreinta.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreinta.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreinta.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreinta.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreinta.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodtreinta/tallecolor/<%= prodtreinta._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodtreinta.talleuno %>"><%= prodtreinta.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodtreinta.coloruno %>"><%= prodtreinta.coloruno %></option>
                                  <option value="<%= prodtreinta.colordos %>"><%= prodtreinta.colordos %></option>
                                  <option value="<%= prodtreinta.colortres %>"><%= prodtreinta.colortres %></option>
                                  <option value="<%= prodtreinta.colorcuatro %>"><%= prodtreinta.colorcuatro %></option>
                                  <option value="<%= prodtreinta.colorcinco %>"><%= prodtreinta.colorcinco %></option>
                                  <option value="<%= prodtreinta.colorseis %>"><%= prodtreinta.colorseis %></option>
                                  <option value="<%= prodtreinta.colorsiete %>"><%= prodtreinta.colorsiete %></option>
                                  <option value="<%= prodtreinta.colorocho %>"><%= prodtreinta.colorocho %></option>
                                  <option value="<%= prodtreinta.colornueve %>"><%= prodtreinta.colornueve %></option>
                                  <option value="<%= prodtreinta.colordiez %>"><%= prodtreinta.colordiez %></option>
                                  <option value="<%= prodtreinta.coloronce %>"><%= prodtreinta.coloronce %></option>
                                  <option value="<%= prodtreinta.colordoce %>"><%= prodtreinta.colordoce %></option>
                                  <option value="<%= prodtreinta.colortrece %>"><%= prodtreinta.colortrece %></option>
                                  <option value="<%= prodtreinta.colorcatorce %>"><%= prodtreinta.colorcatorce %></option>
                                  <option value="<%= prodtreinta.colorquince %>"><%= prodtreinta.colorquince %></option>
                                  <option value="<%= prodtreinta.colordieciseis %>"><%= prodtreinta.colordieciseis %></option>
                                  <option value="<%= prodtreinta.colordiecisiete %>"><%= prodtreinta.colordiecisiete %></option>
                                  <option value="<%= prodtreinta.colordieciocho %>"><%= prodtreinta.colordieciocho %></option>
                                  <option value="<%= prodtreinta.colordiecinueve %>"><%= prodtreinta.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      