<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.image %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodtreintaiseis.image %>" data-zoom-image="<%= prodtreintaiseis.image %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.image %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodtreintaiseis.imagedos %>" data-zoom-image="<%= prodtreintaiseis.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaiseis.imagetres %>" data-zoom-image="<%= prodtreintaiseis.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaiseis.imagecuatro %>" data-zoom-image="<%= prodtreintaiseis.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaiseis.imagecinco %>" data-zoom-image="<%= prodtreintaiseis.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintaiseis.imageseis %>" data-zoom-image="<%= prodtreintaiseis.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodtreintaiseis.imagesiete %>" data-zoom-image="<%= prodtreintaiseis.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodtreintaiseis.imageocho %>" data-zoom-image="<%= prodtreintaiseis.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodtreintaiseis.imagenueve %>" data-zoom-image="<%= prodtreintaiseis.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodtreintaiseis.imagediez %>" data-zoom-image="<%= prodtreintaiseis.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodtreintaiseis.imageonce %>" data-zoom-image="<%= prodtreintaiseis.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodtreintaiseis.imagedoce %>" data-zoom-image="<%= prodtreintaiseis.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodtreintaiseis.imageocho %>" data-zoom-image="<%= prodtreintaiseis.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodtreintaiseis.imagenueve %>" data-zoom-image="<%= prodtreintaiseis.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodtreintaiseis.imagediez %>" data-zoom-image="<%= prodtreintaiseis.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodtreintaiseis.imageonce %>" data-zoom-image="<%= prodtreintaiseis.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodtreintaiseis.imagedoce %>" data-zoom-image="<%= prodtreintaiseis.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodtreintaiseis.imagetrece %>" data-zoom-image="<%= prodtreintaiseis.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodtreintaiseis.imagecatorce %>" data-zoom-image="<%= prodtreintaiseis.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodtreintaiseis.imagequince %>" data-zoom-image="<%= prodtreintaiseis.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodtreintaiseis.imagedieciseis %>" data-zoom-image="<%= prodtreintaiseis.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodtreintaiseis.imagediecisiete %>" data-zoom-image="<%= prodtreintaiseis.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodtreintaiseis.imagedieciocho %>" data-zoom-image="<%= prodtreintaiseis.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodtreintaiseis.imagediecinueve %>" data-zoom-image="<%= prodtreintaiseis.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintaiseis.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintaiseis.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintaiseis.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintaiseis.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintaiseis.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiseis.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiseis.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaiseis.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaiseis.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaiseis.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiseis.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaiseis.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaiseis.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaiseis.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiseis.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaiseis.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaiseis.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaiseis.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiseis.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintaiseis.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaiseis.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintaiseis.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintaiseis.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiseis.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiseis.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintaiseis.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiseis.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintaiseis.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodtreintaiseis/tallecolor/<%= prodtreintaiseis._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodtreintaiseis.talleuno %>"><%= prodtreintaiseis.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodtreintaiseis.coloruno %>"><%= prodtreintaiseis.coloruno %></option>
                                  <option value="<%= prodtreintaiseis.colordos %>"><%= prodtreintaiseis.colordos %></option>
                                  <option value="<%= prodtreintaiseis.colortres %>"><%= prodtreintaiseis.colortres %></option>
                                  <option value="<%= prodtreintaiseis.colorcuatro %>"><%= prodtreintaiseis.colorcuatro %></option>
                                  <option value="<%= prodtreintaiseis.colorcinco %>"><%= prodtreintaiseis.colorcinco %></option>
                                  <option value="<%= prodtreintaiseis.colorseis %>"><%= prodtreintaiseis.colorseis %></option>
                                  <option value="<%= prodtreintaiseis.colorsiete %>"><%= prodtreintaiseis.colorsiete %></option>
                                  <option value="<%= prodtreintaiseis.colorocho %>"><%= prodtreintaiseis.colorocho %></option>
                                  <option value="<%= prodtreintaiseis.colornueve %>"><%= prodtreintaiseis.colornueve %></option>
                                  <option value="<%= prodtreintaiseis.colordiez %>"><%= prodtreintaiseis.colordiez %></option>
                                  <option value="<%= prodtreintaiseis.coloronce %>"><%= prodtreintaiseis.coloronce %></option>
                                  <option value="<%= prodtreintaiseis.colordoce %>"><%= prodtreintaiseis.colordoce %></option>
                                  <option value="<%= prodtreintaiseis.colortrece %>"><%= prodtreintaiseis.colortrece %></option>
                                  <option value="<%= prodtreintaiseis.colorcatorce %>"><%= prodtreintaiseis.colorcatorce %></option>
                                  <option value="<%= prodtreintaiseis.colorquince %>"><%= prodtreintaiseis.colorquince %></option>
                                  <option value="<%= prodtreintaiseis.colordieciseis %>"><%= prodtreintaiseis.colordieciseis %></option>
                                  <option value="<%= prodtreintaiseis.colordiecisiete %>"><%= prodtreintaiseis.colordiecisiete %></option>
                                  <option value="<%= prodtreintaiseis.colordieciocho %>"><%= prodtreintaiseis.colordieciocho %></option>
                                  <option value="<%= prodtreintaiseis.colordiecinueve %>"><%= prodtreintaiseis.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      