<% include ../partials/_header %>

 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodocho/tallecolor/<%= prodocho._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodocho.talleuno %>"><%= prodocho.talleuno %></option>
                                  <option value="<%= prodocho.talledos %>"><%= prodocho.talledos %></option>
                                  <option value="<%= prodocho.talletres %>"><%= prodocho.talletres %></option>
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodocho.coloruno %>"><%= prodocho.coloruno %></option>
                                  <option value="<%= prodocho.colordos %>"><%= prodocho.colordos %></option>
                                  <option value="<%= prodocho.colortres %>"><%= prodocho.colortres %></option>
                                  <option value="<%= prodocho.colorcuatro %>"><%= prodocho.colorcuatro %></option>
                                  <option value="<%= prodocho.colorcinco %>"><%= prodocho.colorcinco %></option>
                                  <option value="<%= prodocho.colorseis %>"><%= prodocho.colorseis %></option>
                                  <option value="<%= prodocho.colorsiete %>"><%= prodocho.colorsiete %></option>
                                  <option value="<%= prodocho.colorocho %>"><%= prodocho.colorocho %></option>
                                  <option value="<%= prodocho.colornueve %>"><%= prodocho.colornueve %></option>
                                  <option value="<%= prodocho.colordiez %>"><%= prodocho.colordiez %></option>
                                  <option value="<%= prodocho.coloronce %>"><%= prodocho.coloronce %></option>
                                  <option value="<%= prodocho.colordoce %>"><%= prodocho.colordoce %></option>
                                  <option value="<%= prodocho.colortrece %>"><%= prodocho.colortrece %></option>
                                  <option value="<%= prodocho.colorcatorce %>"><%= prodocho.colorcatorce %></option>
                                  <option value="<%= prodocho.colorquince %>"><%= prodocho.colorquince %></option>
                                  <option value="<%= prodocho.colordieciseis %>"><%= prodocho.colordieciseis %></option>
                                  <option value="<%= prodocho.colordiecisiete %>"><%= prodocho.colordiecisiete %></option>
                                  <option value="<%= prodocho.colordieciocho %>"><%= prodocho.colordieciocho %></option>
                                  <option value="<%= prodocho.colordiecinueve %>"><%= prodocho.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                    <div class=" row">
                        <div class="col-md-6">
                            <button class="btn btn--e-brand-b-2 mt-5">Enviar</button>

                          </div>
                        </div>
                       </div>

                </form>


            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
  </div>
</div>




            

      <% include ../partials/_footer %>
      
