<% include ../partials/_header %>

 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/proddiez/tallecolor/<%= proddiez._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= proddiez.talleuno %>"><%= proddiez.talleuno %></option>
                                  <option value="<%= proddiez.talledos %>"><%= proddiez.talledos %></option>
                                  <option value="<%= proddiez.talletres %>"><%= proddiez.talletres %></option>
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= proddiez.coloruno %>"><%= proddiez.coloruno %></option>
                                  <option value="<%= proddiez.colordos %>"><%= proddiez.colordos %></option>
                                  <option value="<%= proddiez.colortres %>"><%= proddiez.colortres %></option>
                                  <option value="<%= proddiez.colorcuatro %>"><%= proddiez.colorcuatro %></option>
                                  <option value="<%= proddiez.colorcinco %>"><%= proddiez.colorcinco %></option>
                                  <option value="<%= proddiez.colorseis %>"><%= proddiez.colorseis %></option>
                                  <option value="<%= proddiez.colorsiete %>"><%= proddiez.colorsiete %></option>
                                  <option value="<%= proddiez.colorocho %>"><%= proddiez.colorocho %></option>
                                  <option value="<%= proddiez.colornueve %>"><%= proddiez.colornueve %></option>
                                  <option value="<%= proddiez.colordiez %>"><%= proddiez.colordiez %></option>
                                  <option value="<%= proddiez.coloronce %>"><%= proddiez.coloronce %></option>
                                  <option value="<%= proddiez.colordoce %>"><%= proddiez.colordoce %></option>
                                  <option value="<%= proddiez.colortrece %>"><%= proddiez.colortrece %></option>
                                  <option value="<%= proddiez.colorcatorce %>"><%= proddiez.colorcatorce %></option>
                                  <option value="<%= proddiez.colorquince %>"><%= proddiez.colorquince %></option>
                                  <option value="<%= proddiez.colordieciseis %>"><%= proddiez.colordieciseis %></option>
                                  <option value="<%= proddiez.colordiecisiete %>"><%= proddiez.colordiecisiete %></option>
                                  <option value="<%= proddiez.colordieciocho %>"><%= proddiez.colordieciocho %></option>
                                  <option value="<%= proddiez.colordiecinueve %>"><%= proddiez.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                    <div class=" row">
                        <div class="col-md-6">
                            <button class="btn btn--e-brand-b-2 mt-5">Enviar</button>

                          </div>
                        </div>
                       </div>

                </form>


            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
  </div>
</div>




            

      <% include ../partials/_footer %>
      
