<% include ../partials/_header %>

 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/ofertados/tallecolor/<%= ofertados._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= ofertados.talleuno %>"><%= ofertados.talleuno %></option>
                                  <option value="<%= ofertados.talledos %>"><%= ofertados.talledos %></option>
                                  <option value="<%= ofertados.talletres %>"><%= ofertados.talletres %></option>
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= ofertados.coloruno %>"><%= ofertados.coloruno %></option>
                                  <option value="<%= ofertados.colordos %>"><%= ofertados.colordos %></option>
                                  <option value="<%= ofertados.colortres %>"><%= ofertados.colortres %></option>
                                  <option value="<%= ofertados.colorcuatro %>"><%= ofertados.colorcuatro %></option>
                                  <option value="<%= ofertados.colorcinco %>"><%= ofertados.colorcinco %></option>
                                  <option value="<%= ofertados.colorseis %>"><%= ofertados.colorseis %></option>
                                  <option value="<%= ofertados.colorsiete %>"><%= ofertados.colorsiete %></option>
                                  <option value="<%= ofertados.colorocho %>"><%= ofertados.colorocho %></option>
                                  <option value="<%= ofertados.colornueve %>"><%= ofertados.colornueve %></option>
                                  <option value="<%= ofertados.colordiez %>"><%= ofertados.colordiez %></option>
                                  <option value="<%= ofertados.coloronce %>"><%= ofertados.coloronce %></option>
                                  <option value="<%= ofertados.colordoce %>"><%= ofertados.colordoce %></option>
                                  <option value="<%= ofertados.colortrece %>"><%= ofertados.colortrece %></option>
                                  <option value="<%= ofertados.colorcatorce %>"><%= ofertados.colorcatorce %></option>
                                  <option value="<%= ofertados.colorquince %>"><%= ofertados.colorquince %></option>
                                  <option value="<%= ofertados.colordieciseis %>"><%= ofertados.colordieciseis %></option>
                                  <option value="<%= ofertados.colordiecisiete %>"><%= ofertados.colordiecisiete %></option>
                                  <option value="<%= ofertados.colordieciocho %>"><%= ofertados.colordieciocho %></option>
                                  <option value="<%= ofertados.colordiecinueve %>"><%= ofertados.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                    <div class=" row">
                        <div class="col-md-6">
                            <button class="btn btn--e-brand-b-2 mt-5">Enviar</button>

                          </div>
                        </div>
                       </div>

                </form>


            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
  </div>
</div>




            

      <% include ../partials/_footer %>
      
