<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.image %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodcuarentiseis.image %>" data-zoom-image="<%= prodcuarentiseis.image %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.image %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodcuarentiseis.imagedos %>" data-zoom-image="<%= prodcuarentiseis.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuarentiseis.imagetres %>" data-zoom-image="<%= prodcuarentiseis.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuarentiseis.imagecuatro %>" data-zoom-image="<%= prodcuarentiseis.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuarentiseis.imagecinco %>" data-zoom-image="<%= prodcuarentiseis.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuarentiseis.imageseis %>" data-zoom-image="<%= prodcuarentiseis.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodcuarentiseis.imagesiete %>" data-zoom-image="<%= prodcuarentiseis.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodcuarentiseis.imageocho %>" data-zoom-image="<%= prodcuarentiseis.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodcuarentiseis.imagenueve %>" data-zoom-image="<%= prodcuarentiseis.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodcuarentiseis.imagediez %>" data-zoom-image="<%= prodcuarentiseis.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodcuarentiseis.imageonce %>" data-zoom-image="<%= prodcuarentiseis.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodcuarentiseis.imagedoce %>" data-zoom-image="<%= prodcuarentiseis.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodcuarentiseis.imageocho %>" data-zoom-image="<%= prodcuarentiseis.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodcuarentiseis.imagenueve %>" data-zoom-image="<%= prodcuarentiseis.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodcuarentiseis.imagediez %>" data-zoom-image="<%= prodcuarentiseis.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodcuarentiseis.imageonce %>" data-zoom-image="<%= prodcuarentiseis.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodcuarentiseis.imagedoce %>" data-zoom-image="<%= prodcuarentiseis.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodcuarentiseis.imagetrece %>" data-zoom-image="<%= prodcuarentiseis.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodcuarentiseis.imagecatorce %>" data-zoom-image="<%= prodcuarentiseis.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodcuarentiseis.imagequince %>" data-zoom-image="<%= prodcuarentiseis.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodcuarentiseis.imagedieciseis %>" data-zoom-image="<%= prodcuarentiseis.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodcuarentiseis.imagediecisiete %>" data-zoom-image="<%= prodcuarentiseis.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodcuarentiseis.imagedieciocho %>" data-zoom-image="<%= prodcuarentiseis.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodcuarentiseis.imagediecinueve %>" data-zoom-image="<%= prodcuarentiseis.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarentiseis.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcuarentiseis.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcuarentiseis.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcuarentiseis.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcuarentiseis.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentiseis.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentiseis.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuarentiseis.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentiseis.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentiseis.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentiseis.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuarentiseis.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentiseis.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentiseis.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentiseis.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuarentiseis.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentiseis.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentiseis.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentiseis.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuarentiseis.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentiseis.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarentiseis.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcuarentiseis.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentiseis.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentiseis.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcuarentiseis.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentiseis.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarentiseis.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodcuarentiseis/tallecolor/<%= prodcuarentiseis._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodcuarentiseis.talleuno %>"><%= prodcuarentiseis.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodcuarentiseis.coloruno %>"><%= prodcuarentiseis.coloruno %></option>
                                  <option value="<%= prodcuarentiseis.colordos %>"><%= prodcuarentiseis.colordos %></option>
                                  <option value="<%= prodcuarentiseis.colortres %>"><%= prodcuarentiseis.colortres %></option>
                                  <option value="<%= prodcuarentiseis.colorcuatro %>"><%= prodcuarentiseis.colorcuatro %></option>
                                  <option value="<%= prodcuarentiseis.colorcinco %>"><%= prodcuarentiseis.colorcinco %></option>
                                  <option value="<%= prodcuarentiseis.colorseis %>"><%= prodcuarentiseis.colorseis %></option>
                                  <option value="<%= prodcuarentiseis.colorsiete %>"><%= prodcuarentiseis.colorsiete %></option>
                                  <option value="<%= prodcuarentiseis.colorocho %>"><%= prodcuarentiseis.colorocho %></option>
                                  <option value="<%= prodcuarentiseis.colornueve %>"><%= prodcuarentiseis.colornueve %></option>
                                  <option value="<%= prodcuarentiseis.colordiez %>"><%= prodcuarentiseis.colordiez %></option>
                                  <option value="<%= prodcuarentiseis.coloronce %>"><%= prodcuarentiseis.coloronce %></option>
                                  <option value="<%= prodcuarentiseis.colordoce %>"><%= prodcuarentiseis.colordoce %></option>
                                  <option value="<%= prodcuarentiseis.colortrece %>"><%= prodcuarentiseis.colortrece %></option>
                                  <option value="<%= prodcuarentiseis.colorcatorce %>"><%= prodcuarentiseis.colorcatorce %></option>
                                  <option value="<%= prodcuarentiseis.colorquince %>"><%= prodcuarentiseis.colorquince %></option>
                                  <option value="<%= prodcuarentiseis.colordieciseis %>"><%= prodcuarentiseis.colordieciseis %></option>
                                  <option value="<%= prodcuarentiseis.colordiecisiete %>"><%= prodcuarentiseis.colordiecisiete %></option>
                                  <option value="<%= prodcuarentiseis.colordieciocho %>"><%= prodcuarentiseis.colordieciocho %></option>
                                  <option value="<%= prodcuarentiseis.colordiecinueve %>"><%= prodcuarentiseis.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      