<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodveintitres.imageuno %>" data-zoom-image="<%= prodveintitres.imageuno %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodveintitres.imagedos %>" data-zoom-image="<%= prodveintitres.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodveintitres.imagetres %>" data-zoom-image="<%= prodveintitres.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodveintitres.imagecuatro %>" data-zoom-image="<%= prodveintitres.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodveintitres.imagecinco %>" data-zoom-image="<%= prodveintitres.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodveintitres.imageseis %>" data-zoom-image="<%= prodveintitres.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodveintitres.imagesiete %>" data-zoom-image="<%= prodveintitres.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodveintitres.imageocho %>" data-zoom-image="<%= prodveintitres.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodveintitres.imagenueve %>" data-zoom-image="<%= prodveintitres.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodveintitres.imagediez %>" data-zoom-image="<%= prodveintitres.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodveintitres.imageonce %>" data-zoom-image="<%= prodveintitres.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodveintitres.imagedoce %>" data-zoom-image="<%= prodveintitres.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodveintitres.imageocho %>" data-zoom-image="<%= prodveintitres.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodveintitres.imagenueve %>" data-zoom-image="<%= prodveintitres.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodveintitres.imagediez %>" data-zoom-image="<%= prodveintitres.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodveintitres.imageonce %>" data-zoom-image="<%= prodveintitres.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodveintitres.imagedoce %>" data-zoom-image="<%= prodveintitres.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodveintitres.imagetrece %>" data-zoom-image="<%= prodveintitres.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodveintitres.imagecatorce %>" data-zoom-image="<%= prodveintitres.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodveintitres.imagequince %>" data-zoom-image="<%= prodveintitres.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodveintitres.imagedieciseis %>" data-zoom-image="<%= prodveintitres.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodveintitres.imagediecisiete %>" data-zoom-image="<%= prodveintitres.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodveintitres.imagedieciocho %>" data-zoom-image="<%= prodveintitres.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodveintitres.imagediecinueve %>" data-zoom-image="<%= prodveintitres.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintitres.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodveintitres.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodveintitres.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodveintitres.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodveintitres.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintitres.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintitres.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveintitres.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintitres.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintitres.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintitres.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveintitres.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintitres.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintitres.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintitres.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveintitres.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintitres.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintitres.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintitres.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveintitres.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintitres.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintitres.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodveintitres.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintitres.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintitres.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodveintitres.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintitres.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintitres.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodveintitres/tallecolor/<%= prodveintitres._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodveintitres.talleuno %>"><%= prodveintitres.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodveintitres.coloruno %>"><%= prodveintitres.coloruno %></option>
                                  <option value="<%= prodveintitres.colordos %>"><%= prodveintitres.colordos %></option>
                                  <option value="<%= prodveintitres.colortres %>"><%= prodveintitres.colortres %></option>
                                  <option value="<%= prodveintitres.colorcuatro %>"><%= prodveintitres.colorcuatro %></option>
                                  <option value="<%= prodveintitres.colorcinco %>"><%= prodveintitres.colorcinco %></option>
                                  <option value="<%= prodveintitres.colorseis %>"><%= prodveintitres.colorseis %></option>
                                  <option value="<%= prodveintitres.colorsiete %>"><%= prodveintitres.colorsiete %></option>
                                  <option value="<%= prodveintitres.colorocho %>"><%= prodveintitres.colorocho %></option>
                                  <option value="<%= prodveintitres.colornueve %>"><%= prodveintitres.colornueve %></option>
                                  <option value="<%= prodveintitres.colordiez %>"><%= prodveintitres.colordiez %></option>
                                  <option value="<%= prodveintitres.coloronce %>"><%= prodveintitres.coloronce %></option>
                                  <option value="<%= prodveintitres.colordoce %>"><%= prodveintitres.colordoce %></option>
                                  <option value="<%= prodveintitres.colortrece %>"><%= prodveintitres.colortrece %></option>
                                  <option value="<%= prodveintitres.colorcatorce %>"><%= prodveintitres.colorcatorce %></option>
                                  <option value="<%= prodveintitres.colorquince %>"><%= prodveintitres.colorquince %></option>
                                  <option value="<%= prodveintitres.colordieciseis %>"><%= prodveintitres.colordieciseis %></option>
                                  <option value="<%= prodveintitres.colordiecisiete %>"><%= prodveintitres.colordiecisiete %></option>
                                  <option value="<%= prodveintitres.colordieciocho %>"><%= prodveintitres.colordieciocho %></option>
                                  <option value="<%= prodveintitres.colordiecinueve %>"><%= prodveintitres.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      