<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodcuarenticuatro.imageuno %>" data-zoom-image="<%= prodcuarenticuatro.imageuno %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagedos %>" data-zoom-image="<%= prodcuarenticuatro.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagetres %>" data-zoom-image="<%= prodcuarenticuatro.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagecuatro %>" data-zoom-image="<%= prodcuarenticuatro.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagecinco %>" data-zoom-image="<%= prodcuarenticuatro.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodcuarenticuatro.imageseis %>" data-zoom-image="<%= prodcuarenticuatro.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagesiete %>" data-zoom-image="<%= prodcuarenticuatro.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodcuarenticuatro.imageocho %>" data-zoom-image="<%= prodcuarenticuatro.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagenueve %>" data-zoom-image="<%= prodcuarenticuatro.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagediez %>" data-zoom-image="<%= prodcuarenticuatro.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodcuarenticuatro.imageonce %>" data-zoom-image="<%= prodcuarenticuatro.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagedoce %>" data-zoom-image="<%= prodcuarenticuatro.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodcuarenticuatro.imageocho %>" data-zoom-image="<%= prodcuarenticuatro.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagenueve %>" data-zoom-image="<%= prodcuarenticuatro.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagediez %>" data-zoom-image="<%= prodcuarenticuatro.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodcuarenticuatro.imageonce %>" data-zoom-image="<%= prodcuarenticuatro.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagedoce %>" data-zoom-image="<%= prodcuarenticuatro.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagetrece %>" data-zoom-image="<%= prodcuarenticuatro.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagecatorce %>" data-zoom-image="<%= prodcuarenticuatro.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagequince %>" data-zoom-image="<%= prodcuarenticuatro.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagedieciseis %>" data-zoom-image="<%= prodcuarenticuatro.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagediecisiete %>" data-zoom-image="<%= prodcuarenticuatro.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagedieciocho %>" data-zoom-image="<%= prodcuarenticuatro.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagediecinueve %>" data-zoom-image="<%= prodcuarenticuatro.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodcuarenticuatro.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcuarenticuatro.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarenticuatro.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarenticuatro.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuarenticuatro.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuarenticuatro.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodcuarenticuatro.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodcuarenticuatro.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodcuarenticuatro/tallecolor/<%= prodcuarenticuatro._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodcuarenticuatro.talleuno %>"><%= prodcuarenticuatro.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodcuarenticuatro.coloruno %>"><%= prodcuarenticuatro.coloruno %></option>
                                  <option value="<%= prodcuarenticuatro.colordos %>"><%= prodcuarenticuatro.colordos %></option>
                                  <option value="<%= prodcuarenticuatro.colortres %>"><%= prodcuarenticuatro.colortres %></option>
                                  <option value="<%= prodcuarenticuatro.colorcuatro %>"><%= prodcuarenticuatro.colorcuatro %></option>
                                  <option value="<%= prodcuarenticuatro.colorcinco %>"><%= prodcuarenticuatro.colorcinco %></option>
                                  <option value="<%= prodcuarenticuatro.colorseis %>"><%= prodcuarenticuatro.colorseis %></option>
                                  <option value="<%= prodcuarenticuatro.colorsiete %>"><%= prodcuarenticuatro.colorsiete %></option>
                                  <option value="<%= prodcuarenticuatro.colorocho %>"><%= prodcuarenticuatro.colorocho %></option>
                                  <option value="<%= prodcuarenticuatro.colornueve %>"><%= prodcuarenticuatro.colornueve %></option>
                                  <option value="<%= prodcuarenticuatro.colordiez %>"><%= prodcuarenticuatro.colordiez %></option>
                                  <option value="<%= prodcuarenticuatro.coloronce %>"><%= prodcuarenticuatro.coloronce %></option>
                                  <option value="<%= prodcuarenticuatro.colordoce %>"><%= prodcuarenticuatro.colordoce %></option>
                                  <option value="<%= prodcuarenticuatro.colortrece %>"><%= prodcuarenticuatro.colortrece %></option>
                                  <option value="<%= prodcuarenticuatro.colorcatorce %>"><%= prodcuarenticuatro.colorcatorce %></option>
                                  <option value="<%= prodcuarenticuatro.colorquince %>"><%= prodcuarenticuatro.colorquince %></option>
                                  <option value="<%= prodcuarenticuatro.colordieciseis %>"><%= prodcuarenticuatro.colordieciseis %></option>
                                  <option value="<%= prodcuarenticuatro.colordiecisiete %>"><%= prodcuarenticuatro.colordiecisiete %></option>
                                  <option value="<%= prodcuarenticuatro.colordieciocho %>"><%= prodcuarenticuatro.colordieciocho %></option>
                                  <option value="<%= prodcuarenticuatro.colordiecinueve %>"><%= prodcuarenticuatro.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      