<% include ../partials/_header %>
       
                    <div class="app-content">

                        <!--====== Section 1 ======-->
                        <div class="u-s-p-y-60">
            
                            <!--====== Section Content ======-->
                            <div class="section__content">
                                <div class="container">
                                    <div class="breadcrumb">
                                        <div class="breadcrumb__wrap">
                                            <ul class="breadcrumb__list">
                                                <li class="has-separator">
            
                                                    <a href="/">Inicio</a></li>
                                                <li class="is-marked">
            
                                                    <a>Carro </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--====== End - Section 1 ======-->
            
            
            
            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary"> CARRO DE LA COMPRA</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 u-s-m-b-30">
                                <div class="table-responsive">
                                    <table class="table-p">
                                        <tbody>
                                            <% if(products) { %>
                                                <% for(var i = 0; i < products.length; i++) { %>	
                                            <!--====== Row ======-->
                                            <tr>
                                                <td>
                                                    <div class="table-p__box">
                                                        <div class="table-p__img-wrap">

                                                            <img class="u-img-fluid" src="<%= products[i].item.image%>" alt=""></div>
                                                        <div class="table-p__info">

                                                            <span class="table-p__name">

                                                                <a ><%= products[i].item.title %></a></span>

                                                            <span class="table-p__category">

                                                                <a >Electronics</a></span>
                                                            <ul class="table-p__variant-list">
                                                                <li>

                                                                    <span>Size: 22</span></li>
                                                                <li>

                                                                    <span>Color: Red</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>


                                                <td>
                                                    <div class="table-p__input-counter-wrap">

                                                        <!--====== Input Counter ======-->
                                                        <div class="input-counter">

                                                            <a href="/reduce/<%= products[i].item._id %>" class="input-counter__minus fas fa-minus"></a>

                                                            <input class="input-counter__text input-counter--text-primary-style" type="text" value="<%= products[i].qty %>" data-min="1" data-max="1000">

                                                            <a href="/sumar/<%= products[i].item._id %>" class="input-counter__plus fas fa-plus"></a>

                                                        </div>
                                                        <!--====== End - Input Counter ======-->
                                                    </div>
                                                </td>

                                          

                                                <td>

                                                    <span class="table-p__price">$<%= products[i].price %></span>
                                                </td>




                                                <td>
                                                    <div class="table-p__del-wrap">

                                                        <a class="far fa-trash-alt table-p__delete-link" href="/remove/<%= products[i].item._id %>"></a></div>
                                                </td>
                                            </tr>
                                            <% } %>     
                                           
                                            <!--====== End - Row ======-->

 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="route-box">
                                        <div class="route-box__g1">

                                                <a class="route-box__link" href="shop-side-version-2.html"><i class="fas fa-long-arrow-alt-left"></i>
        
                                                    <span></span></a></div>
                                 
                                    <div class="route-box__g2">

                                        <a class="route-box__link" href="/"><i class="fas fa-trashh"></i>

                                            <span>Seguir comprando</span></a>

                                        <a class="route-box__link" href="/envio"><i class="fas fa-synch"></i>

                                            <span>Iniciar compra</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->


            <!--====== Section 3 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 u-s-m-b-30">
                                <form class="f-cart">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                           
                                        </div>
                                        <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                               
                                            </div>
                                        <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                            <div class="f-cart__pad-box">
                                                <div class="u-s-m-b-30">
                                                    <table class="f-cart__table">
                                                        <tbody>
                                                           
                                                         
                                                            <tr>
                                                                <td>TOTAL</td>
                                                                <td>$<%= totalPrice %></td>
                                                                <% } else { %>                                                      
                                                                    <% } %>  
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div>
                                                    <% if(totalPrice > 2500 ){ %>
                                                        <a href="/prepagar" class="btn btn--e-brand-b-2" style="background-color:blue"> INICIAR COMPRA (Envío sin cargo) </a>
                                                       
                                                      

                                                           <% } else{ %>
                                                            
                                                            <a href="/envio" class="btn btn--e-brand-b-2"> INICIAR COMPRA </a>
                                                            <% } %>
                                                        
                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
                
            </div>
            <!--====== End - Section 3 ======-->
        </div>
        <!--====== End - App Content ======-->

        <% include ../partials/_footer %>
