<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodveintisiete.imageuno %>" data-zoom-image="<%= prodveintisiete.imageuno %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodveintisiete.imagedos %>" data-zoom-image="<%= prodveintisiete.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodveintisiete.imagetres %>" data-zoom-image="<%= prodveintisiete.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodveintisiete.imagecuatro %>" data-zoom-image="<%= prodveintisiete.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodveintisiete.imagecinco %>" data-zoom-image="<%= prodveintisiete.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodveintisiete.imageseis %>" data-zoom-image="<%= prodveintisiete.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodveintisiete.imagesiete %>" data-zoom-image="<%= prodveintisiete.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodveintisiete.imageocho %>" data-zoom-image="<%= prodveintisiete.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodveintisiete.imagenueve %>" data-zoom-image="<%= prodveintisiete.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodveintisiete.imagediez %>" data-zoom-image="<%= prodveintisiete.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodveintisiete.imageonce %>" data-zoom-image="<%= prodveintisiete.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodveintisiete.imagedoce %>" data-zoom-image="<%= prodveintisiete.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodveintisiete.imageocho %>" data-zoom-image="<%= prodveintisiete.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodveintisiete.imagenueve %>" data-zoom-image="<%= prodveintisiete.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodveintisiete.imagediez %>" data-zoom-image="<%= prodveintisiete.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodveintisiete.imageonce %>" data-zoom-image="<%= prodveintisiete.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodveintisiete.imagedoce %>" data-zoom-image="<%= prodveintisiete.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodveintisiete.imagetrece %>" data-zoom-image="<%= prodveintisiete.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodveintisiete.imagecatorce %>" data-zoom-image="<%= prodveintisiete.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodveintisiete.imagequince %>" data-zoom-image="<%= prodveintisiete.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodveintisiete.imagedieciseis %>" data-zoom-image="<%= prodveintisiete.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodveintisiete.imagediecisiete %>" data-zoom-image="<%= prodveintisiete.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodveintisiete.imagedieciocho %>" data-zoom-image="<%= prodveintisiete.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodveintisiete.imagediecinueve %>" data-zoom-image="<%= prodveintisiete.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodveintisiete.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodveintisiete.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodveintisiete.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodveintisiete.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodveintisiete.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintisiete.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintisiete.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveintisiete.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintisiete.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintisiete.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintisiete.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveintisiete.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintisiete.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintisiete.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintisiete.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveintisiete.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintisiete.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintisiete.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintisiete.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodveintisiete.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintisiete.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodveintisiete.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodveintisiete.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintisiete.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintisiete.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodveintisiete.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintisiete.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodveintisiete.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodveintisiete/tallecolor/<%= prodveintisiete._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodveintisiete.talleuno %>"><%= prodveintisiete.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodveintisiete.coloruno %>"><%= prodveintisiete.coloruno %></option>
                                  <option value="<%= prodveintisiete.colordos %>"><%= prodveintisiete.colordos %></option>
                                  <option value="<%= prodveintisiete.colortres %>"><%= prodveintisiete.colortres %></option>
                                  <option value="<%= prodveintisiete.colorcuatro %>"><%= prodveintisiete.colorcuatro %></option>
                                  <option value="<%= prodveintisiete.colorcinco %>"><%= prodveintisiete.colorcinco %></option>
                                  <option value="<%= prodveintisiete.colorseis %>"><%= prodveintisiete.colorseis %></option>
                                  <option value="<%= prodveintisiete.colorsiete %>"><%= prodveintisiete.colorsiete %></option>
                                  <option value="<%= prodveintisiete.colorocho %>"><%= prodveintisiete.colorocho %></option>
                                  <option value="<%= prodveintisiete.colornueve %>"><%= prodveintisiete.colornueve %></option>
                                  <option value="<%= prodveintisiete.colordiez %>"><%= prodveintisiete.colordiez %></option>
                                  <option value="<%= prodveintisiete.coloronce %>"><%= prodveintisiete.coloronce %></option>
                                  <option value="<%= prodveintisiete.colordoce %>"><%= prodveintisiete.colordoce %></option>
                                  <option value="<%= prodveintisiete.colortrece %>"><%= prodveintisiete.colortrece %></option>
                                  <option value="<%= prodveintisiete.colorcatorce %>"><%= prodveintisiete.colorcatorce %></option>
                                  <option value="<%= prodveintisiete.colorquince %>"><%= prodveintisiete.colorquince %></option>
                                  <option value="<%= prodveintisiete.colordieciseis %>"><%= prodveintisiete.colordieciseis %></option>
                                  <option value="<%= prodveintisiete.colordiecisiete %>"><%= prodveintisiete.colordiecisiete %></option>
                                  <option value="<%= prodveintisiete.colordieciocho %>"><%= prodveintisiete.colordieciocho %></option>
                                  <option value="<%= prodveintisiete.colordiecinueve %>"><%= prodveintisiete.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      