<% include ../partials/_header %>








        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodtreintainueve.imageuno %>" data-zoom-image="<%= prodtreintainueve.imageuno %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= prodtreintainueve.imagedos %>" data-zoom-image="<%= prodtreintainueve.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintainueve.imagetres %>" data-zoom-image="<%= prodtreintainueve.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintainueve.imagecuatro %>" data-zoom-image="<%= prodtreintainueve.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintainueve.imagecinco %>" data-zoom-image="<%= prodtreintainueve.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= prodtreintainueve.imageseis %>" data-zoom-image="<%= prodtreintainueve.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= prodtreintainueve.imagesiete %>" data-zoom-image="<%= prodtreintainueve.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= prodtreintainueve.imageocho %>" data-zoom-image="<%= prodtreintainueve.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= prodtreintainueve.imagenueve %>" data-zoom-image="<%= prodtreintainueve.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= prodtreintainueve.imagediez %>" data-zoom-image="<%= prodtreintainueve.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= prodtreintainueve.imageonce %>" data-zoom-image="<%= prodtreintainueve.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= prodtreintainueve.imagedoce %>" data-zoom-image="<%= prodtreintainueve.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= prodtreintainueve.imageocho %>" data-zoom-image="<%= prodtreintainueve.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= prodtreintainueve.imagenueve %>" data-zoom-image="<%= prodtreintainueve.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= prodtreintainueve.imagediez %>" data-zoom-image="<%= prodtreintainueve.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= prodtreintainueve.imageonce %>" data-zoom-image="<%= prodtreintainueve.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= prodtreintainueve.imagedoce %>" data-zoom-image="<%= prodtreintainueve.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= prodtreintainueve.imagetrece %>" data-zoom-image="<%= prodtreintainueve.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= prodtreintainueve.imagecatorce %>" data-zoom-image="<%= prodtreintainueve.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= prodtreintainueve.imagequince %>" data-zoom-image="<%= prodtreintainueve.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= prodtreintainueve.imagedieciseis %>" data-zoom-image="<%= prodtreintainueve.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= prodtreintainueve.imagediecisiete %>" data-zoom-image="<%= prodtreintainueve.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= prodtreintainueve.imagedieciocho %>" data-zoom-image="<%= prodtreintainueve.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= prodtreintainueve.imagediecinueve %>" data-zoom-image="<%= prodtreintainueve.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= prodtreintainueve.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintainueve.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintainueve.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= prodtreintainueve.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintainueve.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintainueve.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintainueve.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintainueve.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintainueve.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintainueve.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintainueve.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintainueve.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintainueve.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintainueve.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintainueve.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintainueve.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintainueve.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintainueve.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintainueve.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= prodtreintainueve.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintainueve.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= prodtreintainueve.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintainueve.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintainueve.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintainueve.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= prodtreintainueve.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintainueve.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= prodtreintainueve.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodtreintainueve/tallecolor/<%= prodtreintainueve._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodtreintainueve.talleuno %>"><%= prodtreintainueve.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodtreintainueve.coloruno %>"><%= prodtreintainueve.coloruno %></option>
                                  <option value="<%= prodtreintainueve.colordos %>"><%= prodtreintainueve.colordos %></option>
                                  <option value="<%= prodtreintainueve.colortres %>"><%= prodtreintainueve.colortres %></option>
                                  <option value="<%= prodtreintainueve.colorcuatro %>"><%= prodtreintainueve.colorcuatro %></option>
                                  <option value="<%= prodtreintainueve.colorcinco %>"><%= prodtreintainueve.colorcinco %></option>
                                  <option value="<%= prodtreintainueve.colorseis %>"><%= prodtreintainueve.colorseis %></option>
                                  <option value="<%= prodtreintainueve.colorsiete %>"><%= prodtreintainueve.colorsiete %></option>
                                  <option value="<%= prodtreintainueve.colorocho %>"><%= prodtreintainueve.colorocho %></option>
                                  <option value="<%= prodtreintainueve.colornueve %>"><%= prodtreintainueve.colornueve %></option>
                                  <option value="<%= prodtreintainueve.colordiez %>"><%= prodtreintainueve.colordiez %></option>
                                  <option value="<%= prodtreintainueve.coloronce %>"><%= prodtreintainueve.coloronce %></option>
                                  <option value="<%= prodtreintainueve.colordoce %>"><%= prodtreintainueve.colordoce %></option>
                                  <option value="<%= prodtreintainueve.colortrece %>"><%= prodtreintainueve.colortrece %></option>
                                  <option value="<%= prodtreintainueve.colorcatorce %>"><%= prodtreintainueve.colorcatorce %></option>
                                  <option value="<%= prodtreintainueve.colorquince %>"><%= prodtreintainueve.colorquince %></option>
                                  <option value="<%= prodtreintainueve.colordieciseis %>"><%= prodtreintainueve.colordieciseis %></option>
                                  <option value="<%= prodtreintainueve.colordiecisiete %>"><%= prodtreintainueve.colordiecisiete %></option>
                                  <option value="<%= prodtreintainueve.colordieciocho %>"><%= prodtreintainueve.colordieciocho %></option>
                                  <option value="<%= prodtreintainueve.colordiecinueve %>"><%= prodtreintainueve.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      