<% include ../partials/_header %>

 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/proddos/tallecolor/<%= proddos._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= proddos.talleuno %>"><%= proddos.talleuno %></option>
                                  <option value="<%= proddos.talledos %>"><%= proddos.talledos %></option>
                                  <option value="<%= proddos.talletres %>"><%= proddos.talletres %></option>
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= proddos.coloruno %>"><%= proddos.coloruno %></option>
                                  <option value="<%= proddos.colordos %>"><%= proddos.colordos %></option>
                                  <option value="<%= proddos.colortres %>"><%= proddos.colortres %></option>
                                  <option value="<%= proddos.colorcuatro %>"><%= proddos.colorcuatro %></option>
                                  <option value="<%= proddos.colorcinco %>"><%= proddos.colorcinco %></option>
                                  <option value="<%= proddos.colorseis %>"><%= proddos.colorseis %></option>
                                  <option value="<%= proddos.colorsiete %>"><%= proddos.colorsiete %></option>
                                  <option value="<%= proddos.colorocho %>"><%= proddos.colorocho %></option>
                                  <option value="<%= proddos.colornueve %>"><%= proddos.colornueve %></option>
                                  <option value="<%= proddos.colordiez %>"><%= proddos.colordiez %></option>
                                  <option value="<%= proddos.coloronce %>"><%= proddos.coloronce %></option>
                                  <option value="<%= proddos.colordoce %>"><%= proddos.colordoce %></option>
                                  <option value="<%= proddos.colortrece %>"><%= proddos.colortrece %></option>
                                  <option value="<%= proddos.colorcatorce %>"><%= proddos.colorcatorce %></option>
                                  <option value="<%= proddos.colorquince %>"><%= proddos.colorquince %></option>
                                  <option value="<%= proddos.colordieciseis %>"><%= proddos.colordieciseis %></option>
                                  <option value="<%= proddos.colordiecisiete %>"><%= proddos.colordiecisiete %></option>
                                  <option value="<%= proddos.colordieciocho %>"><%= proddos.colordieciocho %></option>
                                  <option value="<%= proddos.colordiecinueve %>"><%= proddos.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                    <div class=" row">
                        <div class="col-md-6">
                            <button class="btn btn--e-brand-b-2 mt-5">Enviar</button>

                          </div>
                        </div>
                       </div>

                </form>


            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
  </div>
</div>




            

      <% include ../partials/_footer %>
      
