<% include ../partials/_header %>
        <!--====== App Content ======-->
        <div class="app-content">

                <!--====== Section 1 ======-->
                <div class="u-s-p-t-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
    
                                <!--====== Product Breadcrumb ======-->
                                <div class="pd-breadcrumb u-s-m-b-30">
                                    <ul class="pd-breadcrumb__list">
                                       
                                    </ul>
                                </div>
                                <!--====== End - Product Breadcrumb ======-->
    
    
                                <!--====== Product Detail Zoom ======-->
                                <div class="pd u-s-m-b-30">
                                    <div class="slider-fouc pd-wrap">
                                        <div id="pd-o-initiate">
                                            <div class="pd-o-img-wrap" data-src="<%= proddos.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= proddos.imageuno %>" data-zoom-image="<%= proddos.imageuno %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddos.imageuno %>">
                                                 
                                                <img class="u-img-fluid" src="<%= proddos.imagedos %>" data-zoom-image="<%= proddos.imagedos %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddos.imagedos %>">
    
                                                <img class="u-img-fluid" src="<%= proddos.imagetres %>" data-zoom-image="<%= proddos.imagetres %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddos.imagetres %>">
    
                                                <img class="u-img-fluid" src="<%= proddos.imagecuatro %>" data-zoom-image="<%= proddos.imagecuatro %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddos.imagecuatro %>">
    
                                                <img class="u-img-fluid" src="<%= proddos.imagecinco %>" data-zoom-image="<%= proddos.imagecinco %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddos.imagecinco %>">
    
                                                <img class="u-img-fluid" src="<%= proddos.imageseis %>" data-zoom-image="<%= proddos.imageseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddos.imageseis %>">

                                                  <img class="u-img-fluid" src="<%= proddos.imagesiete %>" data-zoom-image="<%= proddos.imagesiete %>" alt=""></div>
                                              <div class="pd-o-img-wrap" data-src="<%= proddos.imagesiete %>">
            
                                                  <img class="u-img-fluid" src="<%= proddos.imageocho %>" data-zoom-image="<%= proddos.imageocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= proddos.imageocho %>">
            
                                                  <img class="u-img-fluid" src="<%= proddos.imagenueve %>" data-zoom-image="<%= proddos.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddos.imagenueve %>">

                                                  <img class="u-img-fluid" src="<%= proddos.imagediez %>" data-zoom-image="<%= proddos.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddos.imagediez %>">
                
                                                   <img class="u-img-fluid" src="<%= proddos.imageonce %>" data-zoom-image="<%= proddos.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddos.imageonce %>">
                
                                                    <img class="u-img-fluid" src="<%= proddos.imagedoce %>" data-zoom-image="<%= proddos.imagedoce %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= proddos.imagedoce %>">    
                                            
                                                   <img class="u-img-fluid" src="<%= proddos.imageocho %>" data-zoom-image="<%= proddos.imageocho %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddos.imageocho %>">
                      
                                                    <img class="u-img-fluid" src="<%= proddos.imagenueve %>" data-zoom-image="<%= proddos.imagenueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddos.imagenueve %>">
          
                                                    <img class="u-img-fluid" src="<%= proddos.imagediez %>" data-zoom-image="<%= proddos.imagediez %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddos.imagediez %>">
                          
                                                    <img class="u-img-fluid" src="<%= proddos.imageonce %>" data-zoom-image="<%= proddos.imageonce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddos.imageonce %>">
                        
                                                     <img class="u-img-fluid" src="<%= proddos.imagedoce %>" data-zoom-image="<%= proddos.imagedoce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddos.imagedoce %>">     

                                                    <img class="u-img-fluid" src="<%= proddos.imagetrece %>" data-zoom-image="<%= proddos.imagetrece %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddos.imagetrece %>">
                                        
                                                    <img class="u-img-fluid" src="<%= proddos.imagecatorce %>" data-zoom-image="<%= proddos.imagecatorce %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddos.imagecatorce %>">
                            
                                                     <img class="u-img-fluid" src="<%= proddos.imagequince %>" data-zoom-image="<%= proddos.imagequince %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddos.imagequince %>">
                                            
                                                      <img class="u-img-fluid" src="<%= proddos.imagedieciseis %>" data-zoom-image="<%= proddos.imagedieciseis %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddos.imagedieciseis %>">
                                          
                                                      <img class="u-img-fluid" src="<%= proddos.imagediecisiete %>" data-zoom-image="<%= proddos.imagediecisiete %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddos.imagediecisiete %>"> 
                                                                                  
                                                                                              
                                                      <img class="u-img-fluid" src="<%= proddos.imagedieciocho %>" data-zoom-image="<%= proddos.imagedieciocho %>" alt=""></div>
                                             <div class="pd-o-img-wrap" data-src="<%= proddos.imagedieciocho %>">
         
                                                       <img class="u-img-fluid" src="<%= proddos.imagediecinueve %>" data-zoom-image="<%= proddos.imagediecinueve %>" alt=""></div>
                                            <div class="pd-o-img-wrap" data-src="<%= proddos.imagediecinueve %>">
                                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" data-zoom-image="images/product/product-d-5.jpg" alt=""></div>
                                        </div>
    
                                        <span class="pd-text"> </span> 
                                    </div>
                                    <div class="u-s-m-t-15">
                                        <div class="slider-fouc">
                                            <div id="pd-o-thumbnail">
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= proddos.image %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= proddos.imagedos %>" alt=""></div>
                                                <div>
    
                                                    <img class="u-img-fluid" src="<%= proddos.imagetres %>" alt="">
                                                </div>
                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= proddos.imagecuatro %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= proddos.imagecinco %>" alt=""></div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= proddos.imageseis %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= proddos.imagesiete %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= proddos.imageocho %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= proddos.imagenueve %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= proddos.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= proddos.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= proddos.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= proddos.imagetrece %>" alt="">
                                                </div>
                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= proddos.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= proddos.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= proddos.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= proddos.imagetrece %>" alt="">
                                                </div>

                                                <div>
        
                                                        <img class="u-img-fluid" src="<%= proddos.imagediez %>" alt="">
                                                </div>

                                                <div>
    
                                                            <img class="u-img-fluid" src="<%= proddos.imageonce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= proddos.imagedoce %>" alt=""></div>
                                                <div>
            
                                                            <img class="u-img-fluid" src="<%= proddos.imagetrece %>" alt="">
                                                </div>      
                                                
                                                 <div>
    
                                                        <img class="u-img-fluid" src="<%= proddos.imagecatorce %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= proddos.imagequince %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= proddos.imagedieciseis %>" alt="">
                                                </div>     

                                                <div>
    
                                                        <img class="u-img-fluid" src="<%= proddos.imagediecisiete %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= proddos.imagedieciocho %>" alt=""></div>
                                                 <div>
        
                                                        <img class="u-img-fluid" src="<%= proddos.imagediecinueve %>" alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Product Detail Zoom ======-->
                            </div>
                            <div class="col-lg-7">






    
                        
                            </div>
                        </div>
                    </div>
                </div>
    

               
                <!--====== End - Section 1 ======-->
            </div>
            <!--====== End - App Content ======-->









 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/proddos/tallecolor/<%= proddos._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= proddos.talleuno %>"><%= proddos.talleuno %></option>
 
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= proddos.coloruno %>"><%= proddos.coloruno %></option>
                                  <option value="<%= proddos.colordos %>"><%= proddos.colordos %></option>
                                  <option value="<%= proddos.colortres %>"><%= proddos.colortres %></option>
                                  <option value="<%= proddos.colorcuatro %>"><%= proddos.colorcuatro %></option>
                                  <option value="<%= proddos.colorcinco %>"><%= proddos.colorcinco %></option>
                                  <option value="<%= proddos.colorseis %>"><%= proddos.colorseis %></option>
                                  <option value="<%= proddos.colorsiete %>"><%= proddos.colorsiete %></option>
                                  <option value="<%= proddos.colorocho %>"><%= proddos.colorocho %></option>
                                  <option value="<%= proddos.colornueve %>"><%= proddos.colornueve %></option>
                                  <option value="<%= proddos.colordiez %>"><%= proddos.colordiez %></option>
                                  <option value="<%= proddos.coloronce %>"><%= proddos.coloronce %></option>
                                  <option value="<%= proddos.colordoce %>"><%= proddos.colordoce %></option>
                                  <option value="<%= proddos.colortrece %>"><%= proddos.colortrece %></option>
                                  <option value="<%= proddos.colorcatorce %>"><%= proddos.colorcatorce %></option>
                                  <option value="<%= proddos.colorquince %>"><%= proddos.colorquince %></option>
                                  <option value="<%= proddos.colordieciseis %>"><%= proddos.colordieciseis %></option>
                                  <option value="<%= proddos.colordiecisiete %>"><%= proddos.colordiecisiete %></option>
                                  <option value="<%= proddos.colordieciocho %>"><%= proddos.colordieciocho %></option>
                                  <option value="<%= proddos.colordiecinueve %>"><%= proddos.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                        <div class=" row">
                 <div class="size__radio">

                        <button class="size__radio-label" style="background-color:blue; color:aliceblue">    
                            Elegir color
                        </button> 
                    </div>
                </div>
            </div>

        

                </form>


  </div>
</div>



<br><br><br><br><br><br><br>



            

      <% include ../partials/_footer %>
      


      