<% include ../partials/_header %>

 

<div class="container mt-5" style="margin-top:20px" >
    <div class=" row">

<div class="tab-pane" id="pd-tag">
    <div class="pd-tab__tag">
        <h2 class="u-s-m-b-15"></h2>
        <div class="u-s-m-b-15">
            <form>

 
                <h2  type="submit"><u>Elegir talle y color</u></h2>
            </form>
        </div>

        <span class="gl-text"></span>
    </div>
</div>
</div>
</div>



<div class="container">
  <div class="u-s-m-b-15">
      <div class="u-s-m-b-15">

          <div class="container">
              <div class=" row">
                  <div class="col-md-6">
                  <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                         <div class="u-s-m-b-15">
                           <form action="/prodcatorce/tallecolor/<%= prodcatorce._id %>" method="POST">
                             <select class="input-text input-text--primary-style" style="width:300px" name="talleuno">
                                  <option value="Select Size">Elegir talle</option>
                                  <option value="<%= prodcatorce.talleuno %>"><%= prodcatorce.talleuno %></option>
                                  <option value="<%= prodcatorce.talledos %>"><%= prodcatorce.talledos %></option>
                                  <option value="<%= prodcatorce.talletres %>"><%= prodcatorce.talletres %></option>
                             </select>
                        </div>
                     </div>
                   </div>
                 </div>
            
           


                <div class="col-md-6"> 
                    <div class="tab-pane" id="pd-tag">
                      <div class="pd-tab__tag">
                        <div class="u-s-m-b-15">
                            <select class="input-text input-text--primary-style" style="width:300px; height:52px"name="coloruno">
                                  <option value="Select Color">Elegir Color</option>
                                  <option value="<%= prodcatorce.coloruno %>"><%= prodcatorce.coloruno %></option>
                                  <option value="<%= prodcatorce.colordos %>"><%= prodcatorce.colordos %></option>
                                  <option value="<%= prodcatorce.colortres %>"><%= prodcatorce.colortres %></option>
                                  <option value="<%= prodcatorce.colorcuatro %>"><%= prodcatorce.colorcuatro %></option>
                                  <option value="<%= prodcatorce.colorcinco %>"><%= prodcatorce.colorcinco %></option>
                                  <option value="<%= prodcatorce.colorseis %>"><%= prodcatorce.colorseis %></option>
                                  <option value="<%= prodcatorce.colorsiete %>"><%= prodcatorce.colorsiete %></option>
                                  <option value="<%= prodcatorce.colorocho %>"><%= prodcatorce.colorocho %></option>
                                  <option value="<%= prodcatorce.colornueve %>"><%= prodcatorce.colornueve %></option>
                                  <option value="<%= prodcatorce.colordiez %>"><%= prodcatorce.colordiez %></option>
                                  <option value="<%= prodcatorce.coloronce %>"><%= prodcatorce.coloronce %></option>
                                  <option value="<%= prodcatorce.colordoce %>"><%= prodcatorce.colordoce %></option>
                                  <option value="<%= prodcatorce.colortrece %>"><%= prodcatorce.colortrece %></option>
                                  <option value="<%= prodcatorce.colorcatorce %>"><%= prodcatorce.colorcatorce %></option>
                                  <option value="<%= prodcatorce.colorquince %>"><%= prodcatorce.colorquince %></option>
                                  <option value="<%= prodcatorce.colordieciseis %>"><%= prodcatorce.colordieciseis %></option>
                                  <option value="<%= prodcatorce.colordiecisiete %>"><%= prodcatorce.colordiecisiete %></option>
                                  <option value="<%= prodcatorce.colordieciocho %>"><%= prodcatorce.colordieciocho %></option>
                                  <option value="<%= prodcatorce.colordiecinueve %>"><%= prodcatorce.colordiecinueve %></option>
                             </select>
                         </div>
                        </div>
                      </div>

                         
                            </div>
                          </div>

                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="container">
                    <div class=" row">
                        <div class="col-md-6">
                            <button class="btn btn--e-brand-b-2 mt-5">Enviar</button>

                          </div>
                        </div>
                       </div>

                </form>


            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
  </div>
</div>




            

      <% include ../partials/_footer %>
      
